[2015-02-16 15:45] shashi opened #1 "Features Overview"
# Quick list
- [x] `@api` macro to generate API methods
- [ ] a good README
- [x] `convert(::Type{Tile})` methods for Gadfly, Compose, DataFrames, and SymPy
- [x] Layouts
- [x] Good typography
- [x] Basic content like markdown, latex, images, and links
- [x] DataFrames to tables
- [ ] Theming
  - Will defer this till v0.3 - need to wait for Polymer 0.8
- [x] Basic behaviors like clicks, keypresses

[2015-03-03 19:12] dcjones opened #2 "Missing file: lazyload.jl"
Eager to play around with this, but I think I'm missing a file. Did you forget to commit it, or forget to not include it?

[2015-03-04 08:38] shashi commented on #2
Forgot to include it :P Thanks! :)

[2015-03-04 08:38] #2 closed

[2015-03-04 08:46] shashi commented on #2
You are also going to need Reactive.jl to be on the flatten branch from github. Also good to keep Patchwork checked out on master.

I don't think anyone else has installed this package before, so I have no idea what other issues exist.

[2015-03-04 09:02] shashi commented on #2
You also need Morsel with this PR https://github.com/JuliaWeb/Morsel.jl/pull/34

and you need to run `bower install` inside assets if you want to hack on the HTML/JS/CSS part. You need `vulcanize` npm package to run make in there.

[2015-03-19 09:31] ViralBShah commented on #1
How do Gadfly plots fit in here?

[2015-03-20 14:27] shashi commented on #1
Gadfly plots get rendered into a Tile (and when rendered becomes a Patchwork node) via a `convert(::Type{Tile}, ::Plot)` method - this already works. Added an item to expand `convert` functionality to the list.

[2015-03-29 09:16] aviks opened #4 "Blank output"
So, doing everything mentioned in #3 removes all error messages. However, then navigating to, for eg. http://localhost:8000/examples/toolbar.jl shows a blank page in the browser.

View source in the browser shows: https://gist.github.com/aviks/16e883c1ac50662a5a02

Resources fetched in the browser as follows:

![screen shot 2015-03-29 at 10 14 39](https://cloud.githubusercontent.com/assets/378918/

[2015-03-29 09:21] shashi commented on #4
What does the JS Console say? (Apart from undefined var IPython.) I have *never* yet tried this in Firefox! It does work in Chrome right?

I think, I need to use `Polymer.import` which should in turn use the polyfill on Firefox which should mean that setting the flag won't be necessary.

[2015-03-29 09:30] aviks commented on #4
No, it does not work in Chrome :(. I am in exactly the same state in Chrome and FF.

JS console only has the IPython error. Clean otherwise.

[2015-03-29 10:14] aviks commented on #4
I get the feeling that I am not picking up the right code.

So am navigating to `http://localhost:8000/examples/toolbar.jl`. If I navigate to `http://localhost:8000/foo/bar.jl`, I also get a blank page with no errors. The returned html is similar, but with `new Canvasd("examples", "root")` replaced by `new Canvasd("foo", "root")`.

Is that what I'd expect? How can I verify that the code in `<Pkg.d

[2015-03-29 10:36] shashi commented on #4
I think I know what the problem is, it's to do with me not closing an html tag somewhere, hold on.

[2015-03-29 10:43] shashi commented on #4
You need to run canvasd from examples/. and go to http://localhost:8000/toolbar.jl `foo/bar.jl` should ideally work, I'll look into it.

[2015-03-29 11:23] shashi commented on #4
@aviks Any luck if you run it from examples/? I am not sure yet why it is not showing the error indicating the file doesn't exist.

@one-more-minute what is a good way to get the full path?

[2015-03-29 11:25] aviks commented on #4
OK, perfect, thanks. It works if I run canvasd from the `examples` directory. Thanks!

It works as expected in Chrome, and loads in Firefox. But FF seem to not load the CSS. I'll file a separate issue for that.

[2015-03-29 11:26] shashi commented on #4
Okay, great! I'm very stoked to have you give Canvas a try :)

[2015-03-29 11:37] aviks opened #6 "Styles not applied on Firefox"
After setting the `webcomponents` config in Firefox, pages load correctly. However, the styles are not applied correctly.  Screenshots below.

### Chrome 41.0.2272.104

![chrome](https://cloud.githubusercontent.com/assets/378918/6885264/ec79bda6-d60f-11e4-8f33-c084c8bfcb05.png)

### Firefox 36.0.1
![firefox](https://cloud.githubusercontent.com/assets/378918/6885265/fd08cc52-d60f-11e4-993b-a4d5105c

[2015-03-29 11:44] aviks commented on #4
Thanks. I have Great Expectations from Canvas!

[2015-03-30 13:44] shashi opened #7 "Widgets"
Things left to do
- [ ] `paper-input-decorator` instead of `paper-input` with features viz.
  - [ ] pattern validation
  - [ ] error message
- [ ] working mutli-line input (wtf is up with this anyway)
- [ ] layout issues with drop-down
- [ ] similar APIs for radio buttons and drop-downs
- [ ] more usefully allow `Dict`s
- [ ] date picker
- [ ] color picker

[2015-03-30 21:18] aviks opened #9 "latex.html missing?"
trying the `latex.jl` in examples, the following error is displayed in the console:

[code]

[2015-03-30 21:39] #9 closed

[2015-03-30 21:41] shashi commented on #9
I think in cases like this getting a separate file is ans overkill. Lot of room for improvement in asset serving

[2015-03-30 21:50] #4 closed

[2015-03-30 22:51] shashi commented on #9
turns out the latex example was broken because of an API change to checkbox. Fixed.

[2015-03-30 23:01] aviks commented on #9
Thanks, works for me!

[2015-03-31 16:16] aviks opened #10 "Make length measures play nicely with Compose"
If I change the plot command in `plot.jl` to the following

[code]

I get the following error on the console:

[code]

If I change the `size=0.2mm` to `size=0.2em`, then the error becomes:
 `type: typeassert: expected Union(Measure{S,T},Nothing), got Length{:em}`

[2015-03-31 16:27] shashi commented on #10
Yeah I know about this. Canvas and Compose export length consts of the same
name. No idea what to do about that yet. Maybe we could separate this stuff
into a Measures.jl library and use it in both. Cc @dcjones

For now you can use Gadfly.mm or Canvas.mm, whichever is appropriate

On Tue, Mar 31, 2015, 9:46 PM Avik Sengupta <notifications@github.com>
wrote:

[2015-03-31 16:28] aviks commented on #10
OK, thanks, that helps.

[2015-03-31 17:11] dcjones commented on #10
That would be appealing if we can reconcile the Compose and Canvas definitions of things. Though, at one point we wanted to try to combine the SIUnits and Compose definitions of things like `inch` and `mm`, but decided it didn't make a lot of sense.

The measures in Compose differ from Canvas in that they need to represent sums of absolute and relative unit types: like `3mm + 0.5cx`. I'm not sure

[2015-03-31 18:36] shashi commented on #10
Yeah, that way they are different. I think `vh` and `vw` would be the `cy` `cx` analog of CSS. Will need some web component pixie dust to make the arithmetic between absolute and relative units work, but not impossible.

[2015-03-31 22:30] ViralBShah opened #12 "Version of Julia in the README"
The use of Markdown.jl suggests that this is best run with Julia 0.3. It would be nice to mention that in the README, since one cannot yet install Canvas.jl as a package.

[2015-03-31 22:31] ViralBShah opened #13 "Better package name?"
@shashi @aviks As we discussed before, Canvas invokes many different meanings in one's mind. I liked @shashi 's suggestion of calling this package Escher.jl.

[2015-04-01 06:28] shashi commented on #12
I'm going to add Compat and make it work on 0.4 as well, but will mention 0.3 now.

[2015-04-01 06:30] #12 closed

[2015-04-01 06:56] aviks commented on #13
+1 for Escher. Evocative and relevant, I feel.

[2015-04-06 11:35] aviks opened #14 "Multiple users using the same canvasd process"
???

[2015-04-07 10:09] aviks opened #15 "Specify a base directory"
Currently, canvasd only serves .jl files out of its current working directory.

There should be of specifying a base directory from which to serve files. Forward relative paths from this directory should be followed. Backward relative paths should not be allowed.

It may be worth thinking about a long term configuration format. Command line flags only? INI/Toml files? JSON?

[2015-04-07 10:47] shashi commented on #15
I was thinking this would be a command line flag. say `--base`, what are some reasons one would need a configuration file?

The list of features would be:

- [ ] server should be brought up if `--serve` is specified, optionally allow a port number
- [ ] `--blink` should open up an Atom shell window with the UI
- [ ] `--compile` should output static HTML (warn in the case of a `Signal{Tile}`, but c

[2015-04-07 19:56] aviks commented on #15
command line flags are fine. One reason to use a config file would be if I want to start a cluster of canvasd processes, I could ensure consistency of configuration using a file. Basically, version and store the config file, rather than the script that starts the processes. But its not a big concern.

[2015-04-09 18:50] shashi commented on #10
Oh look! http://dev.w3.org/csswg/css-values-3/#calc-notation There is a spec to do exactly this! With OK browser support: http://caniuse.com/#feat=calc

[2015-04-10 00:54] dcjones commented on #10
Perfect! That's much easier that having to compute everything dynamically in javascript. So in a unified measure package, I suppose `cx`/`cy` (which I'm open to renaming) would be kept separate, but when applied in the CSS context just added to viewport measures (`vw`/`vh`)?

[2015-04-10 06:16] shashi commented on #10
Actually I realized this is more tricky. `vw`, `vh` represent the size of the screen (except when they don't :|) and `%` measures are also sadly cannot represent `cx` *and* `cy`.

But, all is not lost. I found out about http://gridstylesheets.org/ I have no idea though if it can be used in Polymer components.

[2015-04-23 13:12] aviks commented on #13
ping!

[2015-04-23 14:58] shashi commented on #13
I like Escher too. It sets the right tone for the kinds of things you can make with this package. If Escher was a programmer, he'd probably love Lisps, and Julia is as good as any.

I'm going to rename all the things and make a push tonight.

[2015-04-23 15:30] #13 closed

[2015-04-23 15:35] aviks commented on #13
Yay!

[2015-04-26 20:08] shashi commented on #6
This is better now. But the pages disappear... Also plotting has the same issue you were facing. Firefox has a bug with its WebSocket inspector, I think. I cannot see what is getting transferred, but it seems to be getting transferred anyway.

[2015-04-27 17:55] randyzwitch opened #17 "Mux not found in path"
What is this trying to get me to do?

[code]

[2015-04-27 18:09] shashi commented on #17
Have you installed Mux.jl ? `Pkg.clone("git@github.com:one-more-minute/Mux.jl.git")`

There are a bunch of things you need to do right now to set this up. The [README](https://github.com/shashi/Escher.jl#readme) should cover this.

[2015-04-27 19:07] randyzwitch commented on #17
Yes, I went through the README, installed all the packages and the above is the result I got back using Julia 0.3.7. If Mux is written in Julia, how can it be in my path?

[2015-04-27 19:33] shashi commented on #17
Mux should go in `~/.julia/v0.3/Mux/` directory. Also `~/.julia/v0.3/Mux/src/Mux.jl` must be present and should contain a module called Mux. Hmm, I wonder what is happening here. I don't see any problem with https://github.com/one-more-minute/Mux.jl/blob/master/src/Mux.jl

[2015-04-27 19:37] randyzwitch commented on #17
[code]

[2015-04-27 20:02] shashi commented on #17
Okay.... What is your `/usr/bin/env julia` (this is the shell used by `escherd`) ? Is that where Mux is installed?

[2015-04-27 20:10] shashi commented on #17
From your outputs, it does look like everything is alright. I'm really out of ideas about what is happening here, :-o

[2015-04-27 20:13] randyzwitch commented on #17
Fixed that error...`julia` at my CLI referred to 0.4; pre-pending 0.3 fixed it. There were two more pkg errors, I'll submit a PR to README. I got the example to finally work, it's just a picture of the Golden Ratio squares, right?

[2015-04-27 20:13] #17 closed

[2015-04-27 20:17] shashi commented on #17
Yes, `examples/layout.jl` that's not Golden Ratio squares I think, it's like a depiction of 1/2 + 1/4 + 1/8 +..... But if you check out docs/guide/layout.jl you can see some docs. You will need to run escherd from docs/guide/ to do that. Also, heads up: files containing gadfly plots might take forever to load.

[2015-04-27 20:45] shashi commented on #17
I just moved docs/guide/layout.jl to docs/layout-guide.jl so now there are only 2 places you can run escherd: examples/ and docs/

[2015-05-01 09:33] aviks opened #19 ""subscribe" not defined"
On running `mc.jl` with the latest master, I get the following error:

[code]

[2015-05-04 05:28] #19 closed

[2015-05-07 09:26] rudimk opened #21 "Docs"
Trying to experiment with using Escher for building a data dashboard. Would love some docs. Conversely, if you need a bit of help with building the docs itself, I can fork the repo and work on a ```gh-pages``` branch.

[2015-05-07 10:40] shashi commented on #21
Hey rudi!

If you run `escherd` from docs/ directory, you should get to see the current state of the docs. (visit localhost:8000/<file-from-docs>.jl) My aim have separate user guide (pretty much for each file in the source tree) and API docs, and also a good tutorial, and eventually compile to static html pages and serve via github pages. (the compilation is not yet implemented, but is straightfor

[2015-05-07 11:30] rudimk commented on #21
Hey Shashi!

Sounds good. I'll go through the docs directory, and then probably figure out how to help with them. Thanks!

[2015-05-12 20:23] shashi commented on #15
you should now be able to use `bin/escher --serve --dir "whatever-directory"`

[2015-05-12 20:34] aviks commented on #15
Cool, thanks!

[2015-05-19 10:36] ViralBShah commented on #21
Having static docs on an Escher homepage and a nice README is a must anyways.

[2015-05-25 05:33] shashi commented on #10
How about `cx` and `cy` being Compose-specific. This library can contain them, but Escher won't be using them. I think this is a reasonable middle-ground

Also, `pc` is a unit of length in itself and is different from percentage. In Escher I call percentage `cent`

[2015-05-26 16:42] IainNZ opened #22 "[PkgEval] Escher may have a testing issue on Julia 0.3 (2015-05-26)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.

####

[2015-05-30 19:44] NOTtheMessiah opened #24 "macro api defines types in a local scope"
When i remove the `@doc` calls in the return expression of `macro api`

    macroexpand(quote @api test => TestType1 begin
        arg(a::FloatingPoint)
    end end)

results in

    begin
        immutable TestType1
            a::FloatingPoint
        end
        test(#445#a) = TestType1(#445#a)
    end

but normally, it expands to this

    begin
        immutable TestType1
            a::Float

[2015-05-31 07:27] shashi commented on #24
Oh, so it has to do with the `@doc` macro.

[2015-06-01 19:39] #24 closed

[2015-06-01 19:40] #15 closed

[2015-06-05 07:57] shashi opened #26 "Documentation"
While I want to write all of this out myself, my hands don't seem to like the idea so much. Here is a table of contents of the things I want to document. *Any* help with documentation will be hugely appreciated!

## User Guide

- [ ] Overview
  - [x] How to install
  - [x] Rules that make Escher
  - [ ] (Optional) Under the hood
  - [ ] How to read the manual
- [ ] Content
  - [ ] Text & Markdown

[2015-06-05 07:59] shashi commented on #21
defer to #26

[2015-06-05 07:59] #21 closed

[2015-06-05 12:05] rudimk opened #27 "Running escher throws a requires error"
Followed the instructions in the README, but when the time comes to run ```escher``` in the examples directory, I face this:

[code]

Not entirely sure where exactly I'm going wrong.

[2015-06-05 16:15] #27 closed

[2015-06-09 06:12] maacl opened #30 "~/.julia/Escher/bin/escher --serve unresponsive and error running tests"
Nothing is served using:

    ~/.julia/Escher/bin/escher --serve

[code]

results in:

[code]

[code]

in  ~/.julia/Escher/bin/escher/test results in:

[code]

I am running OSX, using Julia Version 0.3.9 (2015-05-30 11:24 UTC).

[2015-06-09 06:33] shashi commented on #30
What does running `/usr/bin/env julia` print in your terminal?

[2015-06-09 06:34] shashi commented on #30
On OSX you can run this from the Julia REPL to serve:

[code]

[2015-06-09 06:49] maacl commented on #30
/usr/bin/env julia

produces:

   _       _ _(_)_     |  A fresh approach to technical computing
  (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
   _ _   _| |_  __ _   |  Type "help()" for help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 0.3.9 (2015-05-30 11:24 UTC)
 _/ |\__'_|_|_|\__'_|  |  Official http://julialang.org/ release
|__/                   |  x86_64-

[2015-06-09 06:51] maacl commented on #30
Following the above I get:

[code]

[2015-06-09 06:54] maacl commented on #30
This might be related to how I am trying running julia from the terminal.

I have only symlinked the julia executable from to ```usr/local/bin```:

    ln -s /Applications/Julia-0.3.9.app/Contents/Resources/julia/bin/julia /usr/local/bin/

Do I need to do something more?

[2015-06-09 07:03] shashi commented on #30
My bad, it should have been

`Escher.escher_serve()`

No your julia binary seems to be in the right place. How long did you wait before deciding `escher --serve` does not work? it usually takes about a minute for the server to start up. (JIT compilation of dependencies)

[2015-06-09 07:12] maacl commented on #30
julia> Escher.escher_serve()
ERROR: escher_serve not defined

Autocomplete also does not reveal any Escher.escher_serve() function.

[2015-06-09 07:16] shashi commented on #30
Oh, well. It should have been:

[code]
My bad again :{

[2015-06-09 07:23] maacl commented on #30
I just nuked my julia install and started over. There is no escher_serve() function in the Escher package.

[2015-06-09 07:55] maacl opened #31 "Issues with examples"
*compose.jl*

js console ouput:

[code]

*latex.jl*

[code]

*mc.jl*

[code]

*plot.jl*

[code]
*plotting.jl*

[code]

*widgets.jl*

Buttons are unresponsive, don't know if that is intentional.

[2015-06-09 16:39] shashi commented on #31
Hey can you run Pkg.checkout("Escher") in the Julia repl and try again?

[2015-06-09 17:16] maacl commented on #31
I get:

[code]

and the same errors.

[2015-06-09 17:34] meaningofshape commented on #22
Is there an update on this?  Does it work with Julia 0.3?  I am trying to 'Pkg.add("Escher")'  to my Julia 0.3 and it seems to be hung up (running forever) on
INFO: Downloading file https://julialang.s3.amazonaws.com/bin/winnt/extras/libhttp_parser.zip

[2015-06-09 20:20] meaningofshape commented on #22
The Pkg.add has finally moved on to 'Uncaught SyntaxError: Unexpected end of input' , but it has been there for some time.

[2015-06-10 06:20] durcan commented on #31
I see these same errors on my OSX machine as well. The examples with the exception of mc.jl work for me on Ubuntu.

[2015-06-10 07:42] dhoegh commented on #31
I get the same errors as above except latex.jl which works. I am using Julia 0.3.8 on windows 7.

[2015-06-10 13:38] sbromberger opened #34 "Would this be a good candidate for inclusion in JuliaWeb?"
If you think it's appropriate, I'd be happy to help transfer it (and make you a contributor, of course). Let me know. This looks like an absolutely wonderful package.

[2015-06-10 16:11] dbrowne opened #35 "Load error after include(Pkg.dir("Escher", "src", "cli", "serve.jl"))"
Version 0.4.0-dev+5293 (2015-06-10 09:21 UTC)
julia> using Escher
Warning: New definition
    serialize(Any, DataStructures.HashDict) at /apps/infrafs1/dbrowne/.julia/v0.4/DataStructures/src/hashdict.jl:91
is ambiguous with:
    serialize(Base.SerializationState, Any) at serialize.jl:399.
To fix, define
    serialize(Base.SerializationState, DataStructures.HashDict)
before the new definition.
Warn

[2015-06-10 17:51] aviks commented on #35
This is a Lazy.jl issue on `v0.4`

Doing a `Pkg.checkout("Lazy")`  should fix this particular problem.

[2015-06-10 20:32] dbrowne commented on #35
Does not fix the problem .

[2015-06-11 04:16] shashi commented on #35
Escher currently does not run on v0.4, after Lazy is checked out, GnuTLS causes trouble https://github.com/JuliaWeb/GnuTLS.jl/issues/45

[2015-06-11 13:05] tbreloff opened #36 "Is 0.4 supported?"
I just tried setting up Escher, but the server failed to load.  Do you want help tracking down issues for 0.4?  My julia version is about a week behind master right now.

[code]

[2015-06-11 14:02] tbreloff commented on #36
After fixing Lazy (checked out pull request #14), new error in Mux.jl.  I fixed that and filed an issue: https://github.com/one-more-minute/Mux.jl/issues/5

[code]

[2015-06-11 14:04] tbreloff commented on #36
I was able to start the server, but when I tried to load layout.jl in the browser, I got lots more errors/warnings, I think mainly in Mux, WebSockets, and Escher.  I might put this on hold for now unless you want me to help out further.

[2015-06-11 14:04] shashi commented on #36
Great! Yes, GnuTLS seems to be broken in v0.4.

[2015-06-11 14:05] shashi commented on #36
Oh, how did you fix the GnuTLS issue?

[2015-06-11 14:13] tbreloff commented on #36
Haven't fixed GnuTLS yet... that warning is still there.  Seems like, at a minimum, there are tuple changes and a bunch of deprecated warnings.  I'll take a quick pass to see if I can  get something to run and let you know.

[2015-06-11 14:18] tbreloff commented on #36
I got layout.jl to load with just one signature change:
`cut(w, h, ::Tuple{Escher.Vertical, Bool}) =`

Here is a sample of some warnings I'm getting from the server process:
[code]

[code]

[code]

[2015-06-11 14:50] wkearn opened #37 "pages confuses layout"
[code]
does what I  expect it to do. There are two boxes on top of each other, a blue one which says, "Hello, world!" and a green one which says "Howdy!"

However, say you want to make this layout the first page of a set of pages:
[code]
This collapses the boxes and puts them on top of each other. The text ends up hanging outside the boxes.

Maybe I'm not understanding something about how `pages`

[2015-06-13 14:40] #37 closed

[2015-06-13 14:41] shashi commented on #37
Thanks!

[2015-06-13 14:42] shashi commented on #35
Defer to #36

[2015-06-13 14:42] #35 closed

[2015-06-13 14:55] shashi commented on #31
All these examples work for me on the current master branch of this repo on Linux. Can someone confirm that the problem persists after running `Pkg.checkout("Escher"); Pkg.update()` ?

[2015-06-13 14:58] shashi commented on #30
The code shown above worked for me on Linux and Mac... Could you verify again?

[2015-06-13 16:11] maacl commented on #31
I can confirm that the above still applies.

[2015-06-13 16:18] shashi commented on #31
Okay I will need to get hold of a Mac to fix this. Will do.

[2015-06-13 16:19] dhoegh commented on #31
It is also present under windows.

[2015-06-14 19:25] farzonl commented on #31
I see this is still open, what is the time line for a resolution?

[2015-06-15 06:01] #31 closed

[2015-06-15 06:02] shashi commented on #31
Is this related to #29 and https://github.com/JuliaLang/julia/issues/9079. `using Gadfly` was loading `examples/compose.jl` instead of Compose.

[2015-06-15 06:02] #30 closed

[2015-06-15 06:03] shashi commented on #30
I could not reproduce this on OSX. reopen if problem persists.

[2015-06-15 06:27] dhoegh commented on #31
Now `plotting.jl` and `plot.jl` works. `vectorgraphics.jl` do not show the Sierpinski's Triangle and `mc.jl` and `code.jl` give errors.

`mc.jl`:
[code]
`code.jl`:
[code]

[2015-06-24 00:47] IainNZ opened #38 "[PkgEval] Escher may have a testing issue on Julia 0.4 (2015-06-23)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.

####

[2015-06-25 09:08] jkroso opened #39 "rfc: use a native webview like Electron"
This means users don't need to open a browser separately to the server. I've got this working with Patchwork.jl and thought you might already be considering doing it with Escher.jl so [here is a link](https://github.com/jkroso/Rutherford.jl) to that project if you want a starting point. Sorry for the noise if you weren't considering it.

[2015-06-26 01:17] shashi commented on #39
I'm working on getting Escher to work with [Blink](https://github.com/JunoLab/Blink.jl) and excited about how it will turn out.

[2015-06-26 01:19] shashi commented on #39
Oh I didn't read the issue fully, Rutherford.jl is really cool! :) I'm going to get it to run on my laptop after dinner!

[2015-06-26 01:22] shashi commented on #39
cc @one-more-minute

[2015-06-26 01:50] jkroso commented on #39
I didn't know about Blink.jl, at first glance I see it's using a very old version of Electron but that won't be hard to fix.

Rutherford.jl is interesting in that it's so simple. Just one stream in and one stream out. I want to experiment with it using Patchwork.jl nodes then one day switch Electron out for GLFW.jl. I had tried building it with GLFW.jl in the past but failed and not considered doi

[2015-06-26 05:16] jkroso commented on #39
Actually scratch that I just switched from using Streams to Tasks which removes the dependencies that made it hard for people other than me to use. So now all you should need to do is `Pkg.clone("https://github.com/jkroso/Electron.jl.git")`. And that's in the process of being registered

[2015-06-28 11:58] njc46 opened #41 "Error on recreating Example 1 on https://shashi.github.io/Escher.jl/"
Trying example 1 from https://shashi.github.io/Escher.jl/ gives error in padding. Seems to apply to all calls of `pad`. Escher 0.1.0

Error:
`'pad_outer' has no method matching pad_outer(::Measure{MeasureNil,MeasureNil}, ::FontColor)`

[2015-06-29 04:57] shashi commented on #36
Seems to work on v0.4 now. Closing this, open more specific issues if you face any.

[2015-06-29 04:57] #36 closed

[2015-06-29 12:42] #38 closed

[2015-06-29 12:44] shashi commented on #41
This is a name shadowing issue that pops up from time to time. `using Compose` exports its own `pad` function which that piece of code tries to call.

[2015-06-29 12:45] shashi commented on #41
cc @dcjones another name collision between compose and Escher: `pad`

[2015-06-30 01:51] njc46 commented on #41
Yep `Escher.pad` fixed the problem. Same thing happens with `title`

[2015-06-30 02:03] shashi commented on #41
Ouch.
I'm wondering if I should put Escher functions in submodules that are not imported by default.

So you would have to do something like `using Escher.Layout` or `using Escher.Typography` to get these functions. Then you can chose which `pad` or `title` you want to use by either including `Compose` first or `Escher.Layout` first. But may not be worth the hassle and there will have to be many m

[2015-06-30 02:04] shashi commented on #22
This must be fixed now.

[2015-06-30 02:04] #22 closed

[2015-06-30 16:57] dcjones commented on #41
This kind of thing is more awkward than the conflicting unit names because at least there it was obvious that there was some common notion that needed to be factored out. Here, if we factored out `pad` into a separate package, it would be pretty contrived. I'm not sure what we can do besides qualify these things.

What does title conflict with? There's a `title` in Gadfly, but that's typically qua

[2015-06-30 22:00] njc46 commented on #41
I quickly tried to recreate the problem with `title`, but was unable to do so. Previously, it would error with something like "expected function, but got class". And I before, I thought qualifying it as `Escher.title` fixed it.

Will post back if I see it again.

[2015-07-17 17:12] NOTtheMessiah opened #44 "Horizontal flow not working on webkit"
layout.jl should look like this as it does on Gecko and Blink based browsers:

![layout](https://cloud.githubusercontent.com/assets/2946283/8752840/f7003248-2c84-11e5-9243-372964e120e3.png)

But on webkit, it looks like this:

![brokenlayout](https://cloud.githubusercontent.com/assets/2946283/8752811/c3795e22-2c84-11e5-9ed0-4697367278ce.png)

This affects several examples (code.jl, markdown.jl, mi

[2015-07-18 20:26] heckdevice opened #47 "setup_transport not defined"
Getting the following error with Julia 0.3.0-rc3+8 when trying to include using include(Pkg.dir("Escher", "src", "cli", "serve.jl"))

ERROR: setup_transport not defined
 in include at /Applications/Julia-0.3.0-rc3-14654867cf.app/Contents/Resources/julia/lib/julia/sys.dylib
 in include_from_node1 at /Applications/Julia-0.3.0-rc3-14654867cf.app/Contents/Resources/julia/lib/julia/sys.dylib
while load

[2015-07-19 05:19] shashi commented on #44
It works for me on Chrome... Could you paste the browser name and version string?

[2015-07-19 06:21] shashi commented on #47
Can you check out master and try again?

[2015-07-19 08:31] NOTtheMessiah commented on #44
Chrome use Blink, which was forked from WebKit. I tested it using the latest version of [surf](http://surf.suckless.org/), but there are [many webkit browsers](https://en.wikipedia.org/wiki/List_of_web_browsers_for_Unix_and_Unix-like_operating_systems) out there.

[2015-07-19 08:46] shashi commented on #44
Okay I'll look into this in surf. You should just use chromium for now.

On Sun, Jul 19, 2015, 2:01 PM Brian <notifications@github.com> wrote:

[2015-07-19 15:35] heckdevice commented on #47
Thanks a ton!!! Atleast the serve function is working now but i am getting a new set of errors... not sure if i've setup something wrong..

I've put the hello.jl file in the cli folder, same level where serve.jl is but the browser is throwing the following error:

resolve_asset not defined
 in setup_socket at /Users/shpant/.julia/v0.3/Escher/src/cli/serve.jl:47
 in anonymous at /Users/shpant/.juli

[2015-07-19 17:19] shashi commented on #47
What are the sequence of commands you are using to bring up the Escher server?

[2015-07-20 05:13] heckdevice commented on #47
The same as mentioned in the site :

julia> using Escher
julia> include(Pkg.dir("Escher", "src", "cli", "serve.jl"))
julia> cd(Pkg.dir("Escher", "examples")) # or any other directory
julia> escher_serve()

[2015-07-21 08:38] heckdevice commented on #47
This works with julia 0.3.10 distribution and latest Escher.

Thanks

[2015-07-21 08:38] #47 closed

[2015-07-24 16:48] mturok commented on #1
This project looks great....but was wondering how hard it would be for me to create Patchwork-compatible elements on other plotting engines, other than Gadfly.     Any thoughts on what would be involved if my starting point is d3, for example?

[2015-07-24 17:43] rohitvarkey commented on #1
Hi. I've been working on creating Patchwork compatible elements for [Compose3D.jl](https://github.com/rohitvarkey/Compose3D.jl) and help it work with Escher. Escher uses [Polymer](https://www.polymer-project.org/0.5/) (0.5.5) under the hood to provide the web component functionality.

[PolymerLabs](https://github.com/PolymerLabs) has some custom elements implemented for libraries like [d3](https:/

[2015-07-24 17:43] sbromberger opened #53 "Freezing on include(Pkg.dir("Escher", "src", "cli", "serve.jl")) and escher --serve to API macro's use of `=>` is broken on Julia v0.4"
I've been following the installation / usage instructions for Escher here: https://shashi.github.io/Escher.jl/ and am running into a problem on `Version 0.4.0-dev+6112 (2015-07-20 17:52 UTC) Commit 189a043 (3 days old master)`:

[code]
... and here it appears to hang. No other output, no listening port, no return to REPL until I hit ^C.

[2015-07-24 17:54] mturok commented on #1
Thank you....is there a bit of a simple example I could learn from (even one that is already there?)

[2015-07-24 18:08] mturok commented on #1
BTW, another question would be:  if I have an html snippet that I wanted to simply embed as an Elem(), is there a simple example to follow?

[2015-07-24 19:01] shashi commented on #1
I think a nice concise example is the Latex support in Escher. I have this custom element called "ka-tex" https://github.com/shashi/Escher.jl/blob/master/assets/tex.html which wraps the [KaTeX library](https://khan.github.io/KaTeX/) library. Then I have some code that creates a TeX tile and a render method for it: https://github.com/shashi/Escher.jl/blob/master/src/library/tex.jl. So a value of ty

[2015-07-24 19:02] shashi commented on #1
If you have some HTML string that you want to embed in an element, the best way to do it would be: `Elem(:div, innerHTML="<Your>HTML goes <Here>...")`

[2015-07-24 19:26] shashi commented on #53
Are you on OSX? This should be fixed now on master.

[2015-07-24 19:27] shashi commented on #41
One more offender is `fontsize`

[2015-07-24 22:32] mturok commented on #1
Thank you.  Will check it out.

On Fri, Jul 24, 2015, 3:02 PM Shashi Gowda <notifications@github.com> wrote:

[2015-07-25 01:55] sbromberger commented on #53
I'm on OSX but it's not fixed. I did a Pkg.rm("Escher") and then a Pkg.clone("Escher") to get the master, and it's still freezing.

[2015-07-26 00:28] rohitvarkey commented on #53
I just pulled the latest Julia master `Julia Version 0.4.0-dev+6233
Commit 563e17d (2015-07-25 20:59 UTC)` and tried to run `escher --serve` and it froze. I think that was due to a problem in Mux.jl and I've sent a PR to solve that. But even with `using Mux` not going into an infinite loop, `escher --serve` is still freezing.

On the other hand, I tried `using Escher` in the REPL and it is throwin

[2015-07-26 00:32] rohitvarkey commented on #53
Okay. I just figured out why that error isn't getting printed when `escher --serve` is called. Due to https://github.com/JuliaLang/julia/issues/9079 when you do `using Escher` inside the escher executable in bin, it loads itself again rather than the module.

This means the escher executable has to be renamed for it to work on OSX.

[2015-07-26 08:19] shashi commented on #53
Oops looks like `@api` macro breaks on Julia master. I'm looking into this. Are you sure `bin/escher` gets loaded instead of the package? that would be a Julia bug.

[2015-07-26 08:42] rohitvarkey commented on #53
More or less yes.
I added a `println("Loading Escher")` just before the `using Escher` line in `bin/escher` and got the following output:

[code]

After which it freezes until I hit ^C.

But after renaming `bin/escher` -> `bin/escher_server`, I get the following output.
[code]

[2015-07-27 08:09] shashi commented on #53
I think this is related to https://github.com/JuliaLang/julia/pull/12285

[2015-07-27 12:35] rohitvarkey commented on #53
@shashi `using Escher` works successfully now! However, I don't think you should close this just yet. The original issue (before the title change!) is still present. Running `bin/escher --serve` freezes on OSX. Renaming it solves it.

@sbromberger My PR in Mux.jl got merged! :smile: So if you do `Pkg.checkout("Mux")` and also `Pkg.checkout("Escher")`, you should be able to run the Escher server fr

[2015-07-27 15:09] shashi commented on #53
Oh, I forgot about that. my bad.

[2015-07-28 17:05] evcastelani opened #55 "segmentation fault"
Hi! When I try to run and access an example of escher.jl , I have a problem of segment fault...Does anyone know why?

Listening on 0.0.0.0:5555...

signal (11): Falha de segmentação
unknown function (ip: -370066064)
write at /usr/bin/../lib64/julia/sys.so (unknown line)
write at ./iobuffer.jl:235

I am using Fedora 22.

Thanks

[2015-07-28 17:19] rohitvarkey commented on #55
Hey! Can you tell which example caused this? And what version of Julia are you on?

[2015-07-28 17:28] evcastelani commented on #55
I'm using julia v0.3.8 and all standard examples are given problems (code.jl, form.jl)...

[2015-07-30 04:36] Lanzafame commented on #1
Is there a eta on when Escher will move to Polymer 1.0?

[2015-07-30 05:05] shashi commented on #1
I've been doing that over the past couple of days. I thought it's going to be a day's work. But there are weird issues that make no sense with some widgets. It should happen in a couple of more days though...

[2015-07-30 06:41] Lanzafame commented on #1
Awesome to hear that it's in the works.

[2015-07-30 18:23] shashi commented on #53
Fixed by https://github.com/JuliaLang/julia/pull/12356

[2015-07-30 18:23] #53 closed

[2015-07-31 07:23] robertfeldt commented on #1
@shashi I tried to implement the vega-plot component you proposed in Vega.jl discussion here:

https://github.com/robertfeldt/Escher.jl/commit/3422a8e0a096b9461ad89d32f964734c5ef09eb3

but get an error when running:

[code]

I'm not surprised ( ;) ) since I don't fully understand what I'm doing in Escher.jl yet but if you have any insight that would be great. I had to -f add the bower_components s

[2015-07-31 07:48] robertfeldt commented on #1
Note that I fixed what I think was a bug in my first commit on vega-plot component:

https://github.com/robertfeldt/Escher.jl/commit/7a48a68c742db338b6d37cbb37d651cfb3e0cbe6

[2015-07-31 09:40] ViralBShah opened #56 "Electron backend"
I wonder if it is possible to have an Electron backend, as an alternative to the Polymer backend. Perhaps that will also make it possible to build rich desktop apps.

http://electron.atom.io/

Cc @keno @stefankarpinski

[2015-07-31 14:29] shashi commented on #56
I don't think the Polymer bits need to go away. In fact it is required, Electron just provides the "web view" everything else has to be a traditionally made web app. cc @one-more-minute

[2015-07-31 15:27] ViralBShah commented on #56
Thanks for the clarification.

[2015-07-31 17:54] Ismael-VC opened #57 "Open a Gitter chat room."
Gitter/Github integration can be done by adding a Gitter badge to the `README.md`.

Example for one of my repos:

`[![Join the chat at https://gitter.im/Ismael-VC/HydrocarbonNets.jl](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/Ismael-VC/HydrocarbonNets.jl?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)`

[![Join the chat at https://gitter.im/Ismael-VC/Hy

[2015-07-31 17:55] Ismael-VC commented on #57
![captura de pantalla 2015-07-31 a las 12 54 57](https://cloud.githubusercontent.com/assets/4594825/9013734/746541fc-3783-11e5-9f2a-15435c5b1210.png)

It also has coverage and CI integration.

[2015-07-31 17:59] mdcfrancis opened #58 "Input field initialization fails, causing empty signal from forms."
Given the following watch! definition, where s is a sample().

    watch!(s, textinput( "Initial Value" , name = "field0", label = string( "Enter field0")))

the sampler fails to get the initial value, tracing this through

    // Line 22 behavior.html
    // initialize
    this.value = elem[self.attr] || elem.getAttribute(self.attr)

On an input field 'elem' references the outer paper-input-decor

[2015-07-31 18:49] aviks commented on #56
Dup of #39 ?

[2015-08-01 07:52] ViralBShah commented on #56
Seems so. Closing.

[2015-08-01 07:52] #56 closed

[2015-08-13 19:44] eschnett opened #60 ""syntax error" when "using Escher""
I see this error:

[code]

This is with a fresh version of Julia/master.

[2015-08-14 02:07] NOTtheMessiah commented on #60
While I got the warning messages from deprecated syntax, I did not get the LoadError. The dylib extension seems to be OS X exclusive, and I'm on Arch Linux. Can anyone with OS X reproduce this?

[2015-08-16 07:13] rohitvarkey commented on #60
@eschnett `Pkg.checkout("Escher")` fixes it for me.

@shashi Tag a new version to prevent this from happening?

[2015-08-18 17:14] sbromberger opened #62 "Following the instructions results in an error"
[code]

[2015-08-18 17:50] waldyrious opened #63 "website has no title tag"
In the browser tab, it shows up as the page URL, "http://escher-jl.org/".

Btw, a favicon would be nice too.

[2015-08-19 10:03] rohitvarkey commented on #62
Hi. This seems to be an issue with Hiccup.jl. `Pkg.checkout("Lazy")` should fix this as Hiccup seems to depend on Lazy master.

[2015-08-19 16:03] sbromberger commented on #62
This doesn't get Escher up and running. It now freezes here:

[code]

[2015-08-19 16:23] shashi commented on #62
Don't tell anyone I said this, but I think disallowing `"app ("` is a needless restriction.

[2015-08-19 16:24] sbromberger commented on #62
Perhaps, but I don't think that's the cause of the freeze. :)

[2015-08-19 16:27] shashi commented on #60
Will tag once I fix some Polymer 1.0 migration issues. Don't want to break things for everyone.

[2015-08-19 16:34] shashi commented on #57
Done.

[2015-08-19 16:34] #57 closed

[2015-08-19 16:35] shashi commented on #62
I'm pretty sure this is one of those module has the same name as file issues.

[2015-08-19 19:52] rohitvarkey commented on #62
@sbromberger Hmm. It works for me. Probably as you are using some module that has the file name issue @shashi mentioned. A lot of them have been fixed in their current masters. Can you do a Ctrl+C when it freezes? Look at the traceback at the file name where it has freezed and do a `Pkg.checkout` on it? That should probably fix this!

PS: Mux.jl had such an issue. I sent a PR that got merged but I

[2015-08-19 19:54] sbromberger commented on #62
I think it's mux:

[code]

[2015-08-19 19:55] sbromberger commented on #62
Yup, `Pkg.checkout("Mux") seemed to fix things.

[2015-08-19 19:56] rohitvarkey commented on #62
@sbromberger Awesome! :smile:

[2015-08-19 19:56] #62 closed

[2015-08-19 19:57] sbromberger commented on #62
But now navigating to http://localhost:5555/minesweeper.jl

yields

[code]

[2015-08-19 20:23] rohitvarkey commented on #62
[code]

I think that's the error. Renaming `broadcast` to `Escher.broadcast` fixes it for me. I'm working on a PR to fix the examples now which I'll push soon.

[2015-08-19 20:32] shashi commented on #62
@rohitvarkey I have been meaning to rename `broadcast` to `default_behavior` or `wrapbehavior`. I think `wrapbehavior` is a better name for the thing.

[2015-08-19 20:40] shashi commented on #62
`broadcast` was in fact not necessary in that particular place. I removed it. It's never actually necessary in user code. These examples are showing age. We need the `docSpree` branch.

[2015-08-19 21:08] sbromberger commented on #62
What is minesweeper supposed to show? I'm getting

<img width="990" alt="screen shot 2015-08-19 at 14 07 52" src="https://cloud.githubusercontent.com/assets/941359/9369060/c167e08e-467b-11e5-8c90-495f4734aa07.png">

[2015-08-19 21:10] sbromberger commented on #62
Also, in plotting.jl:

[code]

[2015-08-19 21:12] shashi commented on #62
@sbromberger Which browser is that?

[2015-08-19 21:25] sbromberger commented on #62
@shashi safari 8.0.8

[2015-08-20 05:46] Ismael-VC commented on #34
:+1:

[2015-08-20 14:15] waldyrious commented on #34
:+1:

[2015-08-20 22:37] NOTtheMessiah commented on #63
For a static title and favicon, you add the following lines to ```src/cli/serve.jl``` under ```# Include the basics```

    write(io, "<title> Escher.jl </title>")
    write(io, """<link rel="shortcut icon" href="assets/favicon.ico" />""")

and the icon to the assets folder. Maybe something like a [penrose triangle](https://en.wikipedia.org/wiki/Penrose_triangle) or a [blivet](https://en.wikipedia

[2015-08-22 00:37] NOTtheMessiah opened #66 "Broken examples"
As of now, from tests using Julia v0.3.11 on Chromium:

#### examples/minesweeper.jl

nothing happens when you click on a square

#### examples/plotting.jl

``` `|>` has no method matching |>(::Plot, ::ComposeGraphic)```

This can be circumvented by unchaining the drawing of plot_beta.

#### examples/latex.jl

Rendered text does not update

#### docs/index.jl

HTML links broken if served

#### doc

[2015-08-23 18:55] shashi commented on #66
I don't really know what to do about links in docs/index.jl. I think I have reasonably fixed the others. Also I cannot reproduce the minesweeper bug. Could you check again?

[2015-08-23 19:01] shashi commented on #66
The examples directory will be replaced with the one in [doc-spree](https://github.com/shashi/Escher.jl/tree/doc-spree) branch that aims to do a nicer job of presenting examples with explanations.

[2015-08-24 21:26] NOTtheMessiah commented on #66
Oddly enough after updating, can't test it as of now on either v0.3.11 or v0.4.0-dev+6932 (latest master):

[code]

[code]

[2015-08-24 21:32] rohitvarkey commented on #66
The `isexpr` error might be a dup of https://github.com/shashi/Escher.jl/issues/62. `Pkg.checkout("Lazy")` is the fix I think.

[2015-08-24 22:01] rohitvarkey commented on #66
I'm not getting the `lowercase` error or any of the warnings except
[code]

Are you on Escher `master`?

[2015-08-25 02:07] NOTtheMessiah commented on #66
Oops, missed the fact that I had dirty edits in a v0.4 package (hadn't been using it until v0.3 broke) but not on v0.3. once cleaned up, v0.4 works again.

Most of my attention had been on the missing isexpr, which I reproduced v0.4 by using WebSockets master (in an attempt to silence ```uint8(x::Integer) is deprecated, use x % UInt8``` warnings), but fixed with ```Pkg.free("WebSockets")```.

[2015-08-25 02:51] NOTtheMessiah commented on #66
I figured out what was wrong with **minesweeper.jl**: I wasn't using Patchwork.jl master, so as of now, all 3 examples mentioned examples work with v0.3, but there are some weird function composition things and missing exports with v0.4, and I'm not sure which packages I should be using master instead of releases.

as of now on v0.4:

 - Escher                        0.1.0+             master (dir

[2015-08-25 04:37] rohitvarkey commented on #66
I tried checking out to Websockets master, but I haven't got any error for the missing `isexp`.

[code]

[2015-08-25 04:57] rohitvarkey commented on #66
On the other hand, that just reproduced the `lowercase` error!

[2015-08-25 14:41] mturok opened #70 "Daisy Chaining Inputs from one Widget to Another"
Shashi,

Is there currently a way to a daisy chain signals from one widget to another?

That is:   if I have an Input into one widget, that itself creates an input used by another widget.

Getting error messages about: `push! called when another signal is still updating`

It looks like there was a reference to something like this in an issue raised by @Keno on https://github.com/JuliaLang/Reactive

[2015-08-25 15:20] shashi commented on #70
Is something like

[code]

what you are looking for?

If you wanted to keep signal2 within the correct bounds, you could lift on both signal1 and signal2 to do that.

Everything is good as long as you don't try to call `push!` inside of a lifted signal. Keno's issue is encountered when when `push!` is called when another `lift` is blocking on something on a different task. We'll figure out the rig

[2015-08-25 16:03] shashi commented on #70
If you wanted two widgets to be in sync:

[code]

[2015-08-25 16:33] mdcfrancis commented on #70
Replying on behalf of of Michael, given the below example I get the following error `type: anonymous: in apply, expected Function, got Sample`' I assume there is something obvious we are doing wrong.

    function main(window)
        push!(window.assets, "widgets")
        push!(window.assets, "codemirror")
        def = """
        code
        """
        form_signal1 = Input(Dict())
        fo

[2015-08-25 20:40] mturok commented on #70
Actually, we got it working....your snippet above helped tremendously!

(Turns out the issue is with the lexical scoping:   the form variable got redefined from a Function to a Sample inside of the form() function).

Regards!

[2015-08-25 20:40] #70 closed

[2015-08-26 02:50] shashi commented on #70
Great! :) those two functions need not be inside main anyway.

On Wed, Aug 26, 2015, 2:10 AM Michael Turok <notifications@github.com>
wrote:

[2015-08-27 03:54] mturok opened #71 "Dynamic layouts"
@shashi :   I was wondering if there are any example of truly dynamic layouts?

For example, do you have an example of some callback that would add a new tab?

In a further step down this road, do you have any thoughts on how to integrate something like a gridstack-like drag/drop capability: http://troolee.github.io/gridstack.js/

In that case, not sure if julia would owns the layout model.

(BTW

[2015-08-28 18:39] mdcfrancis opened #72 "Virtual DOM updates to properties fail to trigger polymer 1.0 observers"
I have a property on a DOM node (not an attribute). When a patch is applied which just changes the property it fails to trigger a polymer change event. The property is correctly updated and if I force a redraw it works. Any suggestions? As a workaround have placed a hash of the data as an attribute, which gets triggered correctly, this worked ok in 0.5 but with 1.0 the properties are updated after

[2015-08-28 19:32] shashi commented on #72
I kind of brushed this under the rug during the transition... I made properties turn into attributes to work around this (on the Julia side).

large in what sense?

IIRC page.selected = 2 worked in the JS console, but not when the same code is exectued via virutal-dom, unless it was set as an attribute, but I may be mistaken here.

I'm unsure what is the correct way to do this. I wonder if `Polyme

[2015-08-28 21:17] mdcfrancis commented on #72
I'll take a look, chasing another issue at the moment

[2015-08-31 09:38] slowbrain commented on #66
I've tried to pack the Escher into docker image and had to checkout Lazy, Patchwork and Mux in this particular order. Otherwise I would get the 'isexpr not defined' error. Any idea why would that be?

[2015-09-03 22:15] NOTtheMessiah commented on #66
#### examples/toolbar.jl

Failed test on both v0.3 and v0.4: after clicking *Notifications* tab, it failed to update ```iron-selected```.

[code]

[2015-09-03 22:28] NOTtheMessiah commented on #66
Above is a dupe of https://github.com/shashi/Escher.jl/pull/75

[2015-09-03 22:35] shashi commented on #66
@slowbrain that's because those packages need a new release

I'm closing this issue because it's grown meaningless. Please open separate issues for each bug that currently exists.

@NOTtheMessiah that error output is looking good.

[2015-09-03 22:35] #66 closed

[2015-09-07 03:19] astrieanna opened #79 "LoadError when trying to run `escher --serve`"
I just downloaded this package and tried to run it according to the directions in the readme. This is the output I got:
[code]

I'm running on a Julia I built from scratch today. (I ran into other issues with this package when I tried to run with Julia 0.3, which is why I updated.) I'm on a Mac.
[code]

[2015-09-07 04:58] rohitvarkey commented on #79
Can you try doing a `Pkg,checkout("Mux")`?

[2015-09-07 05:03] rohitvarkey commented on #79
The issue you are mentioning seems to have been resolved by https://github.com/one-more-minute/Mux.jl/pull/6. So hopefully, doing the `Pkg.checkout("Mux")` should get everything fixed!

BTW, what issues did you have setting up Escher on Julia 0.3?

[2015-09-07 06:25] dbeach24 opened #80 "Pages from `escher --serve` appear blank"
I'm trying out Escher for the first time.  I've just installed the latest julia 0.4 nightly and have updated all my packages (as of 6 Sept 2015).  When I try to serve up any of the examples, I just get a blank page in the browser (tested using Chrome and Safari).  Selecting "View Source" from the browser clearly shows some HTML with a lot of Javascript code, but I never see a webpage.

[code]

Wha

[2015-09-07 06:30] rohitvarkey commented on #80
Can you try `Pkg.checkout("Mux")` and `Pkg.checkout("HttpServer")` and see if it makes a difference?

[2015-09-07 13:22] dbeach24 commented on #80
OK, I did this, but both packages were already at the latest version.  Same result when I tried again.

When I navigate to `localhost:5555`, the HttpServer is clearly serving up content, but for whatever reason, it just doesn't cause anything to appear in the browser window.

[2015-09-07 13:45] shashi commented on #80
@dbeach24 you don't need to run `escher --serve layout.jl`, just `escher --serve` should work

@rohitvarkey could this be related to https://github.com/one-more-minute/Mux.jl/pull/12 ?

[2015-09-07 13:52] rohitvarkey commented on #80
Oh yes! I forgot that wasn't merged yet.

@dbeach24 Can you open your browser console and see if there is a `500` error being shown? `Ctrl+Shift+J` or `Ctrl+Alt+J` (for OSX)  on Chrome will open it up.

[2015-09-07 16:21] pabloferz opened #81 "Can't access a local svg image"
I've tried to add an svg in different ways but I can't find I way to make it display. For instance,

[code]
or
[code]

do not work

[2015-09-07 16:34] shashi commented on #81
You can construct SVG with Elems like this:

[code]

Could you try `Elem(:object, attributes={:data=>"/assets/image.svg", :type=>"image/svg+xml"})` ?

This will work only if image.svg is in the assets directory.

If you want to read in an image from disk, you could try:

`Elem(:div, innerHTML="$(readall("image.svg"))")`

[2015-09-07 16:46] pabloferz commented on #81
I want to read a local SVG image.

[code]

loads the image, but then I can't find a way to scale it.

Because of the way SVGs are handled and one can't use `Images` to load them, I think a tile for them would be really useful.

[2015-09-07 16:57] pabloferz commented on #81
[code]

also works, and scales the image, but I find it very inconvenient to have to put the images in the assests derectory.

[2015-09-07 18:19] astrieanna commented on #79
The problem from 0.3:

[code]

I think the problem is that `isexpr` should be `is_expr`. I'm not sure where that typo actually is.

[2015-09-07 18:20] rohitvarkey commented on #79
@astrieanna Its an issue with Mux. A `Pkg.checkout("Mux")` should fix things.

[2015-09-07 18:29] shashi commented on #81
There is a way if you put the image in an `assets/` folder in your own Julai package. See #74 for details on how to get this to work.

Admittedly, the asset serving needs a better framework.

[2015-09-07 18:49] NOTtheMessiah commented on #80
reproduced on the latest julia-git v0.4, but the only errors in the Chrome console are:

	GET http://localhost:5555/assets/bower_components/paper-shadow/paper-shadow.html 404 (Not Found)

which is not relevant, and

	WebSocket is already in CLOSING or CLOSED state.	escherd.html:60

root node on the DOM inspector is empty though.

[2015-09-07 19:06] shashi commented on #80
Hmm, are you using the latest WebSockets.jl? The most recent release has a bugfix.

[2015-09-07 22:28] pabloferz commented on #81
I tried another workaround. I modified the `escher_serve` function adding this line

[code]

to the `static` `App`. Now I can access the files in the path of the source julia file by going to `source/`.

Does that represents an issue from the some point of view (security or another reason)?

[2015-09-07 23:18] dbeach24 commented on #80
Okay.  Yes, I see these two errors in the Javascript console when I load the page in Chrome:

[code]

[2015-09-07 23:22] dbeach24 commented on #80
Okay, I just updated packages:

[code]

Now, I get the following messages in the Javascript console:

[code]

[2015-09-08 01:21] rohitvarkey commented on #80
@dbeach24 `http://localhost:5555/layout.jl` maybe?

[2015-09-08 03:40] shashi commented on #81
No it does not. I would call it "assets" for consistency.

[2015-09-08 04:34] dbeach24 commented on #80
@rohitvarkey Just tried that.  That gives me a webpage with the following Julia traceback:

[code]

[2015-09-08 04:39] pabloferz commented on #81
Wouldn't that interfere with the line `route("assets", Mux.files(Pkg.dir("Escher", "assets")), Mux.notfound()),` or it doesn't matter?

[2015-09-08 04:49] rohitvarkey commented on #80
@dbeach24 Oh. Sorry. The examples are broken on `v0.3`. `Pkg.checkout("Escher")` should solve this.

[2015-09-08 05:02] dbeach24 commented on #80
@rohitvarkey That seems to have fixed it.  (I was never using v0.3, so I don't quite understand the comment there.)  Anyhow, thanks!

[2015-09-08 05:02] #80 closed

[2015-09-08 05:04] rohitvarkey commented on #80
@dbeach24 Sorry for all the trouble! We plan to release a new version of Escher soon and Mux will also get a new release, so things should just work out of the box from then on. :smile:

[2015-09-08 11:35] shashi opened #82 "Better asset loading"
Right now, all assets are loaded from Escher's assets folder, uncompressed and un-concatenated. This is of course not ideal.

Here is a rough sketch of what this could look like in the future:

[code]
a, b, and c would get concatenated and gzipped (the first time they are needed), and cached in a file under `assets/cache` with some canonical name like

[code]

Problem 1: Some polymer files are rep

[2015-09-08 17:34] pabloferz commented on #81
Maybe `src/assets`? If that's OK, would you mind if a send a PR proposing the addition of this feature?

[2015-09-08 18:15] shashi commented on #81
`assets/` is more convenient and consistent with the other features. Sure, I'd merge that. :)

[2015-09-08 20:04] pabloferz commented on #81
The problem is that `assets` is already assigned by `route("assets", Mux.files(Pkg.dir("Escher", "assets")), Mux.notfound()),` to get access to the `Escher/assets` directory.

The two options I think might work are:

- To change the current `assets` to `escher/assets` (this is only used internally as far as I can see) and then add `assets` as proposed above.
- Leave `assets` as is, and add somethi

[2015-09-10 19:19] mdcfrancis opened #84 "Escher and websockets"
When you refresh a page from chrome it appears that Escher/Mux does not always notice the close of the websocket. Since the socket is keyed by the file name when next Escher tries to write to the socket it is in a closed state. This causes the process to bomb out, the symptom being an error from Reactive 'push! called when another signal is still updating'

Any thoughts how to resolve / chase down

[2015-09-10 19:41] mdcfrancis commented on #82
It feels like we want a solution close to watchify where the asset file is generated as a bundle which is then available to the browser when changed. I could see each <page>.jl file having an associated bundle. Julia could manage a package.json file and have watchify build it for those who want the live behavior? I don't believe polymer supports a way to unregister (or update) components, so perha

[2015-09-10 20:36] mdcfrancis commented on #72
Small update on this, it does not appear that there is a registered _propertyChanged handler for properties which are not attributes. This is called from the property setter which to all intents and purposes does not seem to be called (e.g. I've failed to get a break point in it)

domNode.__lookupSetter__("data")
(value) {
this._propertySetter(property, value, effects);
}

Directly calling the Pol

[2015-09-10 22:19] NOTtheMessiah commented on #63
With improved asset loading, it opens the door for custom favicons. As for the default one, maybe I can suggest this Penrose icon as a placeholder or some variant of it?
![penrose](https://cloud.githubusercontent.com/assets/2946283/9802401/ee52796a-57e7-11e5-9b4a-02a2a0c5662e.png)
, generated by this Compose code:

[code]

[2015-09-17 13:24] mdcfrancis opened #87 "0.4 deprecations break functionality in Escher"
https://github.com/shashi/Escher.jl/commit/87975dc64ad118afd405c53bed6404e07f1db9c6#commitcomment-13263356

[2015-09-17 13:30] mdcfrancis commented on #87
[code]

Actually why was this changed in the first place ? I don't see and deprecation warnings here.

[2015-09-17 17:12] shashi commented on #87
@mdcfrancis what about `f( ("hello", "world") )`

[2015-09-17 17:12] shashi commented on #87
fix incoming

[2015-09-17 17:44] #87 closed

[2015-09-17 17:51] shashi commented on #84
Could it be the error message you are referring to is unrelated to the problem....

Any snippet that reproduces this?

[2015-09-18 12:25] mdcfrancis commented on #87
Thanks

[2015-09-19 19:31] astrieanna commented on #79
@rohitvarkey Is a new version of Mux going to get tagged so that everyone who tries Esher doesn't run into this same error?

[2015-09-19 19:39] astrieanna opened #88 "Examples fail on tagged version of Escher"
When I've just `Pkg.add("Escher")` and `Pkg.checkout("Mux")`, none of the examples work. Example errors from minesweeper are below. However, minesweeper does work if I `Pkg.checkout("Escher")`, so maybe you could tag a new version?

It is really frustrating to add a new package, follow the instructions to run an example, and literally spend an hour encountering and overcoming errors before even on

[2015-09-20 04:05] astrieanna opened #90 "Broken tex example on escher-jl.org"
This is one of the first examples on the escher-jl.org homepage, and it doesn't work.
[code]

When run, it gives this error message (in the browser window):
[code]

I've looked at the code that's actually running (and that does work), and I can't see what the difference is:
[code]

I tried adding an extra backslash in front of the `\,e^`, since that was the only place with one `\`, but that did no

[2015-09-20 04:17] astrieanna opened #91 "Broken example in docs/index.jl"
I'm trying to go through the tutorial on escher-jl.org, but I keep running into examples that won't run. I'm currently having trouble with Pattern 2, Example 1. At first, it wouldn't work because it couldn't find `pad`, which is in `Compose` (which is not imported in the text of the example). Even with the added `using`, it still presents an error message -- one that I'm not sure how to resolve.

[2015-09-20 04:20] astrieanna commented on #91
This error message about `length` missing a method is also reproducible with:
[code]

[2015-09-20 04:25] rohitvarkey commented on #79
@astrieanna Already done. :smile:

[2015-09-20 04:26] rohitvarkey commented on #79
I'll close this then.

[2015-09-20 04:26] #79 closed

[2015-09-20 04:38] rohitvarkey commented on #91
`pad` is an `Escher` function also. Removing `using Compose` should get it to work.

I can't reproduce the error on Escher master (after removing using Compose). Also I'm not sure why `pad` wasn't' found. It has been exported by Escher. https://github.com/shashi/Escher.jl/blob/f3d8ab2fc732d1f40ff6be9f08e0f619fd3b17ee/src/basics/layout.jl#L54

[2015-09-20 04:43] astrieanna commented on #91
Have you tried it with the tagged version of Escher/Compose?

On Sat, Sep 19, 2015 at 9:38 PM, Rohit Varkey Thankachan <
notifications@github.com> wrote:

[2015-09-20 04:51] rohitvarkey commented on #91
Just did. Works fine.

[2015-09-20 04:59] astrieanna commented on #91
I removed the `using Compose`; after updating my packages that doesn't seem to be required. I'm still seeing the length problem.

I run `escher --serve` in the directory with my Julia file (`hello.jl`), and try to load `http://localhost:5555/hello.jl`. I get an error in the terminal and a blank webpage.

My code:
[code]

The error in the terminal:
[code]

My package versions:
[code]

[2015-09-20 09:12] shashi commented on #91
@astrieanna the last bug is because of https://github.com/shashi/Patchwork.jl/pull/9, now fixed in Patchwork - I'm tagging a release of Patchwork and Escher right now. Sorry for all the trouble.

A better way to resolve the pad issue is to use `Escher.pad` instead.

[2015-09-20 20:48] shashi commented on #91
https://github.com/one-more-minute/Requires.jl/issues/11 breaks a ton of stuff right now.

[2015-09-22 02:51] mturok opened #92 "Example of Keypress"
Hi Shashi,

Any example of keypress behaviors?

Thanks,
Michael

[2015-09-22 04:11] shashi commented on #92
Simple example: https://github.com/shashi/Escher.jl/blob/master/examples/keypress.jl
Using keypress to trigger other updates: https://github.com/shashi/Escher.jl/blob/master/examples/code-cell.jl

[2015-09-22 04:14] mturok commented on #92
Thank you! Will try immediately.
On Tue, Sep 22, 2015 at 12:11 AM Shashi Gowda <notifications@github.com>
wrote:

[2015-09-22 04:15] shashi commented on #92
Allowed key combinations are described at the end of: https://elements.polymer-project.org/elements/iron-a11y-keys
the Key type is here: https://github.com/shashi/Escher.jl/blob/master/src/basics/behavior.jl#L61-L67

[2015-09-22 09:00] #92 closed

[2015-09-22 09:03] schlady opened #93 "`escher --serve` should listen on localhost only by default"
If I start escher with `escher --serve` it listens on all network interfaces by default, which IMO is not nessecary nor very secure. Listening only on localhost should be fine.

I propose 2 changes:
1. add a commandline option like `--bind-address <ip>`
2. set the default value for 1. to `localhost`

[2015-09-22 14:43] shashi commented on #91
Tagged!

[2015-09-22 14:43] #91 closed

[2015-09-22 14:46] #88 closed

[2015-09-22 14:46] #81 closed

[2015-09-24 08:50] AndyGreenwell opened #94 "Error executing examples/plotting.jl"
Upon attempting to execute the plotting.jl example, I am receiving an "inch not defined" error message.  This seems to be due to Gadfly also defining "inch" which produces a conflict.

The operational environment in which I am currently testing:
OS : Windows Server 2012
Browser: Google Chrome Version 45.0.2454.93 m (64-bit)
Julia : v0.4.0-rc2 - 32-bit
Escher : v0.2.0
Gadfly: v0.3.16

The error mes

[2015-09-24 09:18] #94 closed

[2015-09-24 09:21] shashi commented on #94
Thanks!

0.4-rc2 prints warnings for multiple minutes - that should get better over time though.

This clash will ultimately be resolved when Compose/Gadfly and Escher move to [Measures.jl](https://github.com/dcjones/Measures.jl) which is 0.4 only - and hence might need some time.

[2015-09-27 17:03] shashi commented on #84
This is related to https://github.com/JuliaWeb/WebSockets.jl/issues/29

There are some unimplemented bits of the WebSocket protocol, specifically the closing dance.

[2015-09-30 04:28] shashi commented on #82
It seems to me that hot-loading Javascript is made difficult by the fact that web components cannot be re-registered. I don't think that's that big a deal right now as much as packing asset files together in a compact package for faster load time.

There are other options that I missed out here:

1. HTTP2 push: https://www.igvita.com/2013/06/12/innovating-with-http-2.0-server-push/
2. Caching with

[2015-09-30 09:48] raghuch opened #95 "List comprehension on radiogroup"
The radiogroup takes in a list of radio buttons. When I try to declare a list of radio buttons in a list comprehension i.e.
[code]
I get a radio group which doesn't allow me to select only one button. The first button (with tag '1') is selected always, whenever I click on any other radio button.

Is this an unintended bug or can't we use list comprehensions in radiogroup?

[2015-10-05 06:24] rudimk opened #96 "Error when running the plotting sample"
While trying to run the ```plotting.jl``` sample, I hit this:

[code]

Not sure what this was about. Any pointers, @shashi?

[2015-10-05 06:29] rohitvarkey commented on #96
https://github.com/dcjones/Compose.jl/issues/160 seems to be the issue.

[2015-10-05 07:46] #96 closed

[2015-10-05 08:36] rudimk commented on #31
Facing the same issue with ```code-cell.jl```:

[code]

I've tried checking out and updating Escher, but to no avail.

[2015-10-05 09:16] shashi commented on #31
Try `Escher.sampler()`

[2015-10-07 02:15] sjkelly commented on #60
This seems to be fixed.

[2015-10-07 05:37] #60 closed

[2015-10-09 16:56] ggggggggg opened #98 "examples depend pkgs not in REQUIRE, Gadlfly and Compose"
The title pretty much says it, it seems like the packages necessary to use the examples should be in REQUIRE.

[2015-10-09 17:09] ggggggggg opened #99 "plotting.jl fails due to UndefVarError: inch not defined"
I'm running `v0.4.0` on OSX. I ran `escher --serve` in the examples directory and pointed my browser at `http://localhost:5555/plotting.jl`. In the browser I get `UndefVarError: inch not defined` and a long traceback. In the console I get another traceback, and I think they key line is

[code]

[2015-10-09 17:15] ggggggggg commented on #99
`code-cell.jl` has a similar issue with sampler, again I think the key line is `WARNING: both Distributions and Escher export "sampler"; uses of it in module Main must be qualified`

[2015-10-09 22:51] Ismael-VC opened #100 "push! called when another signal is still updating."
I'm using Julia version `v"0.4.0"` and Escher ` 0.2.0`. I'm getting this error when running `Escher.jl/examples/boids.jl`

[code]

* Related issue from JuliaGL/GLVisualize.jl#26

[2015-10-09 22:52] Ismael-VC commented on #100
Seems that `Reactive` **831a4703dbed75f02a681963e67020f660af193a** solves this.

[2015-10-18 02:09] datnamer opened #101 "custom widgets?"
Hi,

Is it possible to add custom elements/JS libraries as escher widgets?

Thanks

[2015-10-18 07:44] rohitvarkey commented on #101
Yeah. See https://github.com/shashi/Escher.jl/pull/74.

You need to create a `assets` folder in your package directory and put files there. And then a `push!(window.assets, (<Pkg name>, <asset name>))` will push the asset file to the window.

Is that what you were looking for?

[2015-10-19 01:00] MichaeLeroy opened #102 "textinput widget, floatinglabel is not implemented"
The `textinput` widget has the keword argument `floatinglabel`, which controls whether this widget's label floats above entered text once entry is begun, is not implemented.

I believe that I've identified a fix for this issue, adding
[code]
to textinput's render, and am learning how to create a pull request for this fix.

[2015-10-19 05:08] #102 closed

[2015-10-21 18:00] datnamer commented on #101
Yea thanks! Then how do I work with it? Do I need to wrap it with custom js?

[2015-10-21 18:17] NOTtheMessiah commented on #101
It would be served from *http://localhost:5555/pkg/\<Pkg name\>/\<filename\>*
To use it within a document, you need to use the `@api` macro to make a type constructor, and a render method on that type that creates a [Patchwork](https://github.com/shashi/Patchwork.jl) Element. See src/library for examples.

[2015-10-26 00:19] slowbrain opened #104 "Selectable behavior is not working for dropdownmenu"
following code does not render expected signal for dropdownmenu item selection
[code]

[2015-11-03 19:19] #71 closed

[2015-11-04 05:02] shashi opened #105 "PDF viewer"
It would be nice to allow pdf.js - based embedding of PDF  files

[2015-11-04 05:24] shashi commented on #71
There are two feasible approaches, one is using JS layout engines like Gridstack, and another is using Julia with JuMP solving for optimal layouts here's [a paper on this](http://dl.acm.org/citation.cfm?id=2379268&dl=ACM&coll=DL&CFID=727243755&CFTOKEN=26376641).

[2015-11-04 05:44] shashi commented on #104
try
[code]

[2015-11-04 22:57] yakir12 commented on #105
The main reasoning here is that (we) scientists use Ti*k*Z and PGFPlots with LaTeX to plot our data *for publication*. Since Escher.jl is super useful as GUI for our algorithms, a finished PDF figure is the ultimate goal.

[2015-11-24 22:38] amellnik opened #106 "Examples not working on master"
Running any example on the current master is giving me

[code]

I'm starting it from ijulia and there's no mention of a line number or similar.

[2015-11-25 01:01] amellnik opened #107 "Default table style?"
The default table style at the moment is a bit sparse.  Right now

[code]

renders as

![image](https://cloud.githubusercontent.com/assets/7132414/11385357/cffec02a-92cc-11e5-8108-326ab135aba6.png)

I assume Escher would like something that looks a bit more classy than the normal writemime output that's used in ijulia and similar, but some lines and padding might be nice.

[2015-11-25 22:56] sdacek opened #108 "Path error when attempting to launch server"
When attempting to launch the server I get the following error

```ERROR: LoadError: LoadError: LoadError: InitError: UndefVarError: Dacek/.julia/v0.4/MacroTools/src/utils.jl not defined```

The correct path is  /Users/Stephen_Dacek/.julia/v0.4/MacroTools/src/utils.jl  and the file exists.

[2015-11-25 22:59] rohitvarkey commented on #108
Can you try doing `using MacroTools` in a REPL and see if that works?

[2015-11-25 23:24] sdacek commented on #108
MacroTools loads without error

[2015-11-26 12:12] sdacek commented on #108
Did some quick digging. It is a bug in the Requires Package. I cannot load it and that error results

[2015-11-29 18:29] shashi commented on #108
I could fix it by removing the call to `__precompile__()` at the beginning of `Requires/src/Requires.jl` file

[2015-11-29 18:32] shashi commented on #106
The master branch needs the master branch of Reactive.

[2015-11-29 18:33] shashi commented on #107
I agree we need better defaults here.

You can create a `DataFrame` of padded / bordered tiles to achieve this now.

[2015-11-29 18:34] #104 closed

[2015-11-30 01:24] slowbrain commented on #104
indeed that is the right way... thank you shashi!

[2015-11-30 17:50] amellnik commented on #106
Ah whoops, I had assumed that checking out the master and then running Pkg.update() would have taken care of this sort of thing.  I'll hold off until they have tagged versions.  Thanks -A

[2015-11-30 17:50] #106 closed

[2015-12-15 11:18] getzdan opened #109 "Random number generation in Escher"
Signals between the browser and Julia in Escher use [nonce](https://en.wikipedia.org/wiki/Cryptographic_nonce) values which are randomly generated (i.e. `239286640159958284960877608660596719563`) using `string(rand(UInt128))`. The `rand` function uses the global scope Julia RNG state which means if a different part of the system plays with `srand(...)` it could generate repeating nonce-s which wou

[2015-12-17 17:02] shashi commented on #109
good catch!

I believe maintaining an RNG state is similar to maintaining any kind of state. I think a global counter would be better here than random numbers to give ids to the signals.

[2015-12-17 17:44] getzdan commented on #109
yeah, a counter would do the trick (non-repeating nonces).
the only considerations I could come up with about it are:

- counters pose dangers when concurrency is present (races)
- sometimes (but rarely) one wants exact reproducibility, then you should be able to control the counter.

but these are mainly non-issues.

[2015-12-31 17:49] jingpengwu opened #111 "no plot image in the example of `plotting.jl`"
google cloud compute engine
ubuntu 10.04
tried both julia 0.4.3 and 0.5

[code]

[2015-12-31 18:00] jingpengwu commented on #111
after adding "import Escher.render" to the top of `table.jl`, It still do not work. I got the following Warning:

[code]

[2015-12-31 19:54] rohitvarkey commented on #111
Can you try doing a `Pkg.update`? You seem to be on a old release on Escher from all the depwarns.

[2015-12-31 20:19] jingpengwu commented on #111
the `Compose` also do not work.

[2016-01-07 21:00] jingpengwu commented on #111
the `vectorgraphics.jl` example also do not work. It seems that there is a renderer conflict.

[2016-01-13 21:55] noam87 opened #112 "Plotting (and `plotting.jl` not working)"
Error:

[code]

Julia 0.4.2 installed from PPA
Ubuntu 15.10

Ran `Pkg.update()`, Escher freshly installed.

---

Escher looks amazing! Can't wait to play with it.

[2016-01-13 22:13] noam87 commented on #112
solved by `Pkg.checkout("Reactive")` to also checkout master reactive branch.

[2016-01-13 22:13] #112 closed

[2016-01-13 22:14] noam87 commented on #111
getting same error. Ubuntu 15.10, jl 0.4.2. Escher master branch.

[2016-01-15 02:34] jingpengwu commented on #111
I recompiled everything in ubuntu14.04. The `vectorgraphics.jl` works, but the `plotting.jl` still do not work..
the error is as follows
[code]

[2016-01-18 17:23] r2dbg opened #113 "File upload widget"
Are there any plans to create a file upload widget or does that functionality exist now?  Any recommended work around in the meantime, if a solution doesn't exist?

[2016-01-21 01:41] NOTtheMessiah commented on #113
This interests me as I hope to make a front-end to MXNet.jl (as to make an image recognition web server), I will look into this matter, thought I'm not sure how easy it would be. Conventional file uploading involves a POST handler on the web server, and all routing is done through the method `escher_serve` in *cli/serve.jl*. There may be a way to send the binary data to the server through websocke

[2016-01-22 13:52] brandonkmiller opened #114 "Reactive.jl update broke my Escher widgets"
I can no longer get my Escher apps to run correctly after Pkg.update().  There appears to be some issue since moving from Input() to Signal() or lift to map in Reactive.jl.  After the update I first started my app and got the deprecation warnings - however, they appear to be more than warnings because without correcting the deprecations my app wouldn't load at all.  When I changed lift->map and In

[2016-01-22 15:28] r2dbg commented on #114
Pkg.checkout("Escher"); Pkg.build("Escher") fixed the brunt of the issue.  I'd say in a perfect world that it would be awesome if all the versions in METADATA could stay compatible, but this isn't a perfect world ;)  Now I'm getting
Failed to push!
    WARNING: both Patchwork and Base export "Text"; uses of it in module Main must be qualified
Signal{Escher.FillColor}(Escher.FillColor(RGB{U8}(0.204

[2016-01-22 15:58] r2dbg commented on #114
I'm replicating the same issue running the Escher examples - specifically mc.jl:
in call at /home/dsb/.julia/v0.4/Compose/src/patchable.jl:21
Failed to push!
    WARNING: both Patchwork and Base export "Text"; uses of it in module Main must be qualified
Signal{Escher.PadContent}(Escher.PadContent(Escher.Side[],Escher.Length{:em}(2.0),Escher.Container(Escher.Flow{Escher.Vertical}(Escher.Vertical(),

[2016-01-22 16:39] r2dbg commented on #114
I'm at a lose :/

I've literally scraped my whole lib and v0.4 package dirs and ran nothing but Pkg.add("Escher") which should install all compatible deps correctly, right?  I'm still unable to get an Escher example to run.

[2016-01-23 19:02] shashi commented on #114
Are you using the master branch of Escher?

https://github.com/JuliaLang/METADATA.jl/pull/4456 fix the patchwork issue...

[2016-01-24 20:45] r2dbg commented on #114
I've tried multiple branches.  I've even tried a  fresh .julia directory letting Escher install it's deps.  You just get the lift/map and Input/Signal deprecations and the page hangs.

[code]

When I upgrade to master - Pkg.checkout("Escher"); Pkg.build("Escher") I get the following output when attempting to run form.jl:
[code]

[2016-01-26 07:42] shashi commented on #111
I pushed a few changes to master. Things work smoothly for me. Try it out after a Pkg.update()

[2016-01-26 07:43] shashi commented on #114
Fixed these things on master. Please try it out. You will need Reactive 0.3.0.

[2016-01-27 03:48] jingpengwu commented on #111
I tried Pkg.update(), things get even worse, all the example do not work!

I saw an issue of Reactive update, my Reactive version is 0.3.0.

[code]

[2016-01-27 17:29] shashi commented on #111
It looks to me like you are on an old commit of Escher which is preventing the new release from getting installed

[2016-01-28 00:15] omalled opened #115 ""import Escher" fails"
I haven't been able to get Escher working since doing a Pkg.update() recently. Even "import Escher" fails (see below).

[code]
I also tried doing a Pkg.checkout("Escher") and Pkg.build("Escher") to try to get something more recent, but that produced the same result. Any idea what's up?

Escher is fantastic, BTW!

[2016-01-28 04:37] ranjanan commented on #115
I think this could be a problem in the `Requires` package.

[2016-01-28 04:58] ranjanan commented on #115
I think changing `Requires.@init` to `Requires.@init Escher` [here](https://github.com/shashi/Escher.jl/blob/master/src/Escher.jl#L67) fixes this.

[2016-01-28 18:07] r2dbg commented on #114
I'm getting the same error as issue #115 now

[2016-01-28 18:33] Evizero commented on #115
related: https://github.com/shashi/Escher.jl/commit/5a0e84d81c9a2eb77687d9eba1590c45aedf55fd#commitcomment-15703555

[2016-01-29 04:08] #115 closed

[2016-01-29 04:37] shashi commented on #114
Please try now. I'm going to tag a fix release soon. Also added in a simple test for this stuff. You need to install `ComposeDiff` with `Pkg.add("ComposeDiff")` now to use Gadfly or Compose.

[2016-01-29 05:05] shashi commented on #114
Tagged a release

[2016-01-29 21:31] r2dbg commented on #114
When trying examples on Julia 0.5.0 I get:

[code]
However, in Julia stable it looks like your new tag is mostly workable.  mc.jl loads, but about 70% of the time when you click the start button nothing happens.  I'm having the same issue in my apps with the following code:
[code]
When triggering with trigger!(s, :submit, button()) buttons work great (form.jl) - but the Signal(Any, leftbutton) sty

[2016-01-29 22:04] r2dbg commented on #114
To provide some context here's how I'm trying to execute a form:

[code]

I use this abstraction so I can control a spinner to show busy operations when processing data. run_processor crunches a static file and pushes the results as a vbox() into dataview.  However, when I click the button nothing happens.  No spinner and no backend terminal debug output.

[2016-01-30 02:14] dioptre opened #116 "Escher has start/Reactive errors on Julia 0.5"
I'm finding it difficult to get going :(

Can someone push me in the right direction please?

MethodError: :`start` has no method matching start(30::Reactive.Signal{Any}
) in setup_socket at /home/a/.julia/v0.5/Escher/src/cli/serve.jl:48
 in anonymous at /home/a/.julia/v0.5/Escher/src/cli/serve.jl:229
 in anonymous at /home/a/.julia/v0.5/Mux/src/Mux.jl:15
 in anonymous at /home/a/.julia/v0.5/Mux/s

[2016-01-30 03:58] dioptre commented on #114
https://github.com/shashi/Escher.jl/pull/117

I fixed the foreach but now I'm getting start reactive errors https://github.com/shashi/Escher.jl/issues/116

How about you @r2dbg ?

[2016-01-30 04:53] dioptre commented on #116
I wonder if this has something to do with it...
Request(:/, 16 headers, 0 bytes in body)AAAAGGHH/nRequest(:/, 16 headers, 0 bytes in body)
Error handling websocket connection:
MethodError: `getindex` has no method matching getindex(::HttpCommon.Request, ::Symbol)
 in splitquery at /home/a/.julia/v0.5/Mux/src/basics.jl:25

[2016-01-30 05:56] dioptre commented on #116
I add this to server.jl:
[code]
And this to mux/src/basics:

[code]

It seems there is a websocket request that is getting confused for a normal request and is shutting everything down. I made these fixes - but only a blank web-page....

Any help appreciated! :)

[2016-01-30 06:23] dioptre commented on #116
...can report escher working on 0.4 though... no c++ support until 0.5 though! :)

[2016-01-30 08:22] dioptre commented on #106
+1 This still doesnt work for me and I'm on latest

[2016-01-30 09:45] shashi commented on #106
@dioptre can you paste your Pkg.status() output?

[2016-01-31 20:39] dioptre opened #118 "2 Way Code-Mirror"
Hi Mate

The code mirror seems to be broken on the latest, and I was just wanting to make sure this is ok? I'm using it to replicate my own widget...Thanks

    inp = Signal(Dict())

    s = sampler() # A thing that lets you watch widgets/behaviors upon updates to other behaviors

    editor = watch!(s, codemirror("some code", name=:code))
    code_cell = trigger!(s, keypress("ctrl+enter shift+ent

[2016-01-31 22:22] dioptre commented on #118
I get:
MethodError: `convert` has no method matching convert(::Type{Escher.Tile}, ::Function)
This may have arisen from a call to the constructor Escher.Tile(...),
since type constructors fall back to convert methods.
Closest candidates are:
  call{T}(::Type{T}, ::Any)
  convert(::Type{Escher.Tile}, !Matched::AbstractString)
  convert(::Type{Escher.Tile}, !Matched::Char)

[2016-02-01 02:18] dioptre commented on #118
I have also tried this:
function main(window)
    push!(window.assets, "codemirror")

  inp = Signal(Dict())

    s = Escher.sampler()
    json = watch!(s, codemirror())
    form = sample(s, vbox(json)) >>> inp
    consume(data -> hbox(form, string(data)), inp)

end

[2016-02-01 10:41] shashi commented on #118
I believe this is fixed now. Reopen if not.

[2016-02-01 10:41] #118 closed

[2016-02-01 11:02] ranjanan opened #119 "Example code-cell broken"
Here's the error trace:
[code]

[2016-02-01 11:11] ranjanan opened #120 "Example form.jl broken"
Here's the error trace:
[code]

[2016-02-01 22:34] r2dbg commented on #116
@dioptre can you test mc.jl on 0.4.  It loads for me but when I click the "start button" it only triggers about 10% of the time.  I often need to refresh and click start multiple times to get it to execute.

See me last two comments on issue #114

[2016-02-03 08:04] shashi commented on #119
This is fixed on master. Will tag a release

[2016-02-03 08:06] shashi commented on #120
This is what happens here:

1. You open a UI which uses Compose/Gadfly which also export `pad`
2. Julia decides that uses of `pad` must be qualified
3. Julia says that this variable is not defined

this example can be fixed by using Escher.pad

[2016-02-03 08:42] ranjanan commented on #119
Cool, thanks. :+1:

[2016-02-03 08:42] ranjanan commented on #120
Oh okay, cool. I'll send a PR right now.

[2016-02-03 11:50] #119 closed

[2016-02-08 20:58] omalled opened #122 "hbox not working properly"
The following code uses `hbox`, but the browser displays it as if I had used `vbox`:

[code]

That is, the browser displays something like

foo
bar

with "foo" above "bar" rather than something like

foobar

with "foo" to the left of "bar". I am using julia 0.4.3 and Escher 0.3.1 on a Mac and I tried viewing in both Firefox and an up-to-date Chrome.

[2016-02-09 06:34] dioptre commented on #116
Have you tried it recently @r2dbg? I think it might be fixed in the newest revision.

[2016-02-10 09:50] ryanmjacobs opened #123 "Homepage out of date"
Just a minor quip; it's 2016 now.

[2016-02-17 21:11] r2dbg commented on #116
@dioptre I have tried it recently and it is still not working.  Does mc.jl work as expected for you? To this day, with the fully updated version of Escher on 0.4.3, the button only works about 10% of the time, and requires multiple page refreshes.  I've tried on multiple machines, and multiple browsers.  I can't get mc.jl in the examples folder to run correctly (and as such my custom apps that use

[2016-02-18 00:09] dioptre commented on #116
@r2dbg  I'm using it successfully on 0.4.2 and it works ok!? I tried the examples, and found that everything worked after the most recent update that @shashi made.

[2016-02-18 04:31] drjrkuhn commented on #90
The triple-quote does not ignore backslash escape sequences. The problem is that the `\x` in `\xi` is interpreted as a hex character code, *not* as a TeX `$\xi$` math character. In fact, `\xi` is interpreted as the hex character `0x0i`, which is not even a valid hex number. So the string interpreter throws `ERROR: syntax: invalid escape sequence`, which gums up Escher completely.

In contrast the

[2016-02-18 13:23] r2dbg commented on #116
@dioptre I'm on commit 4dd34f36dd846fe9cc7abafda8d712541b7fd45c on 0.4.3 and am still having issues with mc.jl.  In most cases it will run for me the first time when I set the slider and click process.  However, when I go to reset the slider to another value and click process again, it won't work (unless I refresh).  I'll look into it more, thanks for checking it out!

[2016-02-20 23:03] Teo-ShaoWei opened #124 "Button Widget still works when disabled"
When a button is focused, we are able to press Spacebar to trigger the button. However, Spacebar still trigger the button when it is disabled, which is not a desirable behaviour.

[2016-02-27 05:05] dioptre opened #126 "Pad missing"
I'm getting UndefVarError: pad not defined

Am I doing something wrong?

[2016-02-27 06:52] dioptre commented on #126
My bad!

[2016-02-27 06:53] #126 closed

[2016-02-28 00:51] cmey opened #127 "Display an image quicker than using spy()"
Currently I use `spy()` from Gadfly, it works, but it's slow. Is there a faster alternative?

I've tried `bitmap()` from Compose, but it doesn't render ([separate issue](https://github.com/shashi/Escher.jl/issues/128)).

[2016-02-28 00:58] cmey opened #128 "bitmap() from Compose doesn't render"
I've tried to display `bitmap("test", rand(UInt8,9), 0, 1, 3, 3, :image)`, but it doesn't render. Instead, it prints:
[code]
in the webpage.

[2016-02-28 01:03] cmey opened #129 "Display an animation of images without looping indefinitely"
I can create an event loop:
`eventloop = every(1/5)`
and then map over it:
[code]
but what I'd like is to display the animation only once (when I click on a button). Is there a cool way to do that?

[2016-03-01 12:17] shashi commented on #128
Yeah, this is because the Patchwork backend doesn't support bit maps in a compose image...

[2016-03-01 12:20] shashi commented on #127
Is your sparse matrix really big?

If so,you should render the image as using the PNG backend.

You can do it by using

[code]
instead of just `spy(...)`

[2016-03-01 12:32] shashi commented on #129
yep

[code]

@dioptre here's an example for you

[2016-03-01 12:34] shashi commented on #126
You need to qualify it `Escher.pad` because Gadfly/Compose also export `pad`.

[2016-03-04 01:19] cmey commented on #128
I've opened an issue there (https://github.com/shashi/Patchwork.jl/issues/15).

[2016-03-10 06:01] Leo-C opened #130 "Dropdown"
I think a dropdown widget can be useful.
I cannot find it into Escher: if not hidden, I believe can be useful add it to widget toolbox

Leonardo

[2016-03-12 02:16] jingpengwu commented on #111
I checked out from the `master` branch, and has no luck.
anyway, I found that the examples in an docker image works though.
https://hub.docker.com/r/andrewrothstein/julia-escher/
but it uses julia-0.3.

[2016-03-16 16:21] shivaramkrs opened #131 "Drag and drop interface to Escher"
I am new to Julia and I find it very useful for my work. One of the things you can do is to build a drag and drop GUI building tool like in visual studio. It can be incorporated into Juno's Atom IDE that would make using Julia GUI very easy. I don't know if this can be done using Escher.

[2016-03-22 19:58] #128 closed

[2016-04-07 13:52] randyzwitch commented on #34
I think it's a good idea, so that we can keep up momentum and work through the backlog of issues. A lot of the issues here are around design and could use decisions (or closing).

I'm toying with the idea of re-writing Julia Bloggers to use Escher, so I'm willing to put the time in.

[2016-04-08 17:45] r2dbg commented on #34
Definitely - Escher has lost a lot of momentum since last summer, despite being one of the most powerful and unique libraries in METADATA.

[2016-04-10 08:45] #129 closed

[2016-04-10 08:49] shashi commented on #127
Does it work? I'm closing this issue since it's the issue should be addressed by Patchwork or by Gadfly.

[2016-04-10 08:49] #127 closed

[2016-04-12 06:07] YaoLuCNS opened #133 "Add Interact.jl functionality?"

[2016-04-12 17:38] randyzwitch commented on #6
@aviks or @shashi, is this still an issue? I have some time to mark and cleanup the issues...

If I don't hear back by end of the week, I'll close.

[2016-04-12 17:41] randyzwitch commented on #34
Going to close this...@shashi made me a collaborator to hopefully get the momentum going again. On reflection, JuliaWeb itself doesn't really generate a ton of movement, so it doesn't seem like much is gained moving the package that way

[2016-04-12 17:41] #34 closed

[2016-04-12 17:43] randyzwitch commented on #41
Is this still an issue or can it be closed?

[2016-04-12 17:44] randyzwitch commented on #55
Going to close this, if only because so much has changed since 0.3.8. If this is still an issue with newer versions of Julia, please open a new issue with a reproducible example.

Thanks!

[2016-04-12 17:44] #55 closed

[2016-04-12 17:48] shashi commented on #41
Still an issue. No clear solution is available though

[2016-04-12 17:50] randyzwitch commented on #123
Since we're highlighting changes, Vega.jl and probably vegalite also work with Escher.

[2016-04-12 17:54] randyzwitch commented on #98
In the spirit of clean-up, closing this. As a personal opinion, I don't think it's the intent to have optional packages being part of REQUIRE; you could always not use the examples (for example, I only use Vega and not Gadfly, if only because I'm developing Vega).

[2016-04-12 17:54] #98 closed

[2016-04-12 17:55] randyzwitch commented on #99
Related #41 (Seems like a meta-issue might be needed for qualifying namespaces)

[2016-04-12 17:56] randyzwitch commented on #100
Looks like there was a resolution to this, so closing

[2016-04-12 17:56] #100 closed

[2016-04-12 17:57] randyzwitch commented on #101
Closing, since there was resolution. Related: #26

[2016-04-12 17:57] #101 closed

[2016-04-12 18:00] randyzwitch commented on #108
Per @sdacek, a bug in the Requires package, so closing here

[2016-04-12 18:00] #108 closed

[2016-04-12 18:03] randyzwitch commented on #114
`foreach` ambiguity resolved with #132

[2016-04-12 18:03] #114 closed

[2016-04-12 18:04] randyzwitch commented on #116
Is this still an issue @dioptre or @brandonkmiller?

[2016-04-12 18:05] randyzwitch commented on #120
Related #41

[2016-04-12 18:06] randyzwitch commented on #124
@Teo-ShaoWei If this is still an issue, can you provide a reproducible example?

[2016-04-12 18:07] ranjanan commented on #120
Since this is fixed by #121 I'm closing it.

[2016-04-12 18:07] #120 closed

[2016-04-12 18:09] randyzwitch commented on #133
Could you be more precise about what functionality you are looking for?

[2016-04-12 18:09] randyzwitch commented on #120
Thanks!

[2016-04-12 18:25] randyzwitch commented on #26
If I make updates to the documentation, I do them in the `doc` directory right? How do they get pushed to the main website?

[2016-04-12 19:32] randyzwitch commented on #90
I believe this is actually fixed in master `doc/index.jl` @shashi, I just needs to be pushed to escher-jl.org

https://github.com/shashi/Escher.jl/blob/master/docs/index.jl#l49-#L52

[2016-04-12 19:32] #90 closed

[2016-04-12 20:09] randyzwitch commented on #111
This works just now with 0.4.6 (on OSX), and it looks like it might just be resolved with the right combination of packages (i.e. Escher.jl master, and `Pkg.update()`), so closing.

If this continues to be a problem, please comment here and I'll re-open.

[2016-04-12 20:09] #111 closed

[2016-04-12 20:24] randyzwitch opened #137 "[meta-issue] State of examples"
Running on 0.4.6 on OSX, I found the following:

- [x] ~~boids.jl: Seems to work, WARNING: using Compose.px in module Main conflicts with an existing identifier.~~ #41
- [x] ~~code-cell.jl: Seems to work~~
- [x] ~~form.jl: Seems to work~~
- [x] keypress.jl: Seems to work, example could be clearer around "focus" (focus on what?)
- [ ] latex.jl: Part of #136 (fixed pad, needs some clarification on p

[2016-04-12 20:25] randyzwitch commented on #99
Closing in favor of #137

[2016-04-12 20:25] #99 closed

[2016-04-12 20:29] randyzwitch commented on #123
Closing since PR is in

[2016-04-12 20:29] #123 closed

[2016-04-12 20:38] brandonkmiller commented on #114
I just tested the examples a day ago (since #132 was resolved) and still mc.jl only fires on button click after multiple refreshes.  Yes - the foreach issue helped on Julia v0.5 but I am still not getting the examples to behave correctly.

As I stated before, when I run the mc.jl example and repeatedly adjust the parameters and submit (without refreshing the page), after a few times the animated g

[2016-04-12 20:41] randyzwitch commented on #114
Yup, having same trouble with the mc.jl example, created #137 to get all examples updated

[2016-04-12 20:55] randyzwitch commented on #122
Confirmed. Seems like it's a problem with `plaintext`; doing a similar example from the documentation works:

[code]
<img width="341" alt="screen shot 2016-04-12 at 4 52 54 pm" src="https://cloud.githubusercontent.com/assets/2762787/14475237/07e3481a-00cf-11e6-8f09-b3a975632ec6.png">

[2016-04-12 21:20] tlnagy opened #138 "Getting methoderrors when trying to run server"
Trying to run the examples fails on my machine, navigating to 0.0.0.0:5555 gives a blank page:

[code]
Package status and version info:
[code]

[2016-04-12 21:44] rohitvarkey commented on #122
Interestingly, `hbox(hbox(plaintext("foo"), plaintext("bar")))` works.

When `hbox` is used at the top the div doesn't seem to get the `flow horizontal` class added to it. I'll take a look at this tomorrow.

[2016-04-12 21:47] rohitvarkey commented on #138
Can you try doing a `Pkg.checkout("Escher")`?

[2016-04-12 22:06] tlnagy opened #139 "Performance in Firefox on OS X?"
The performance of a lot of the examples is pretty awful in Firefox 45.0.2 on OS X 10.11. Chrome fares a lot better. `boids.jl` is especially bad on Firefox.

[2016-04-12 22:09] tlnagy commented on #138
That fixed the issue. Thanks! :+1: Tagging a new release for Escher may be useful.

[2016-04-12 22:09] #138 closed

[2016-04-12 22:11] tlnagy opened #140 "Plotting doesn't work on Firefox on OS X"
Plotting doesn't seem to work on Firefox 45.0.2, works fine in Chrome 49:

<img width="584" alt="screen shot 2016-04-12 at 15 03 36" src="https://cloud.githubusercontent.com/assets/1661487/14477095/ad9c70b0-00c0-11e6-94a3-c88d542e9aec.png">

(Firefox is in safe-mode, all plugins disabled)

[2016-04-12 22:47] randyzwitch commented on #138
Definitely. Maybe once my PRs are resolved, we'll tag a new release

[2016-04-13 01:40] shashi commented on #122
The problem is patching the initial `div` that exists before rendering anything is not quite working. So if you put your whole app in a container (`pad(0em) e.g.`) it should look like it should. I'm trying to figure out what's up.

[2016-04-13 01:40] shashi commented on #137
Randy thanks for making this!

minesweeper.jl, is related to #122

[2016-04-13 05:19] shashi commented on #133
I think just being able to create and use Escher stuff in IJulia would be great. If we figure out a way to get Jupyter to load the dependencies in a nice way, we can do this. See https://github.com/JuliaLang/IJulia.jl/issues/339 (last comment is important)

Let's rename this issue.

[2016-04-13 05:22] shashi commented on #140
This is a bug in Patchwork (e.g. Gadfly+ComposeDiff+IJulia does not work in Firefox either). @dcjones @yeesian and I took a look at this but have failed so far to do anything about it. But it will be a very useful thing to chase down

[2016-04-13 12:12] YaoLuCNS commented on #133
Oh! My aim is to get rid of Jupyter. I find it convenient to code in atom editor and plot using electron. I wonder if it it possible to do simple interactive tasks like @manipulate in electron rather than open a Jupyter notebook().

[2016-04-13 12:19] shashi commented on #133
I see! I'm working on [Blink itegration](https://github.com/shashi/Escher.jl/tree/blink) which should partially get us there. We can port the `@manipulate` macro from Interact to Escher, which should be easy.

[2016-04-13 12:20] randyzwitch commented on #133
Thanks for clarifying, and Shashi glad you've got it figured out already ;)

[2016-04-13 12:35] randyzwitch commented on #139
Can you quantify "awful"? I noticed yesterday that a lot of pre-compilation takes place, then things worked better. But I always use Chrome

[2016-04-13 13:47] shashi commented on #122
Okay traced this back to https://github.com/shashi/Patchwork.jl/commit/6cc99119024ef64459076bf6b41e482931391832

I accidentally reversed some changes while building the Patchwork build.js file. (I will need to fork virtual-dom to prevent this.)

[2016-04-13 13:50] randyzwitch commented on #140
Per https://github.com/johnmyleswhite/Vega.jl/issues/123, could this just be a local error or an operating-system-specific error?

[2016-04-13 14:22] shashi opened #141 "Julia 0.5 fixes"
- [ ] Get Requires.jl to work properly

[2016-04-13 14:26] shashi commented on #116
So I think we should close this issue and start a new meta issue for 0.5-only issues #141.

[2016-04-13 14:26] #116 closed

[2016-04-13 14:31] shashi commented on #137
I should add that I intended the current examples to be replaced by #67 . I haven't worked on it in a while

[2016-04-13 14:33] shashi commented on #140
LOL, that's interesting. I will have to try it out.

[2016-04-13 14:44] #122 closed

[2016-04-13 14:59] randyzwitch commented on #137
Was going to hassle you about that, it's got merge conflicts ;)

[2016-04-13 15:12] shashi commented on #137
There you go, I moved the non-doc commits which were causing the conflict to a new `drawer-panel` branch

[2016-04-13 15:13] shashi commented on #137
(I'm merging master and fixing things up now)

[2016-04-13 15:37] shashi commented on #137
Okay I have updated `content.jl` and `graphics.jl` which are the files that currently exist. You can hit ctrl+enter on any code cell to execute it.

[2016-04-13 18:37] montyvesselinov opened #142 "examples fail"
Error handling websocket connection:
MethodError: `start` has no method matching start(::Reactive.Signal{Any})
 in foreach at /Users/monty/.julia/v0.4/Compat/src/Compat.jl:928
 in anonymous at /Users/monty/.julia/v0.4/Escher/src/cli/serve.jl:161
 in anonymous at /Users/monty/.julia/v0.4/Mux/src/Mux.jl:15
 in anonymous at /Users/monty/.julia/v0.4/Mux/src/Mux.jl:8
 in splitquery at /Users/monty/.jul

[2016-04-13 18:51] shashi commented on #142
Which example are you trying to run? I'm unable to reproduce this easily. It looks like you're using Julia 0.5 although the package is installed in 0.4. Are you using Escher master?

[2016-04-13 19:07] rohitvarkey commented on #142
This is solved on Escher master. Dup of https://github.com/shashi/Escher.jl/issues/138

@shashi Let's tag a new release?

[2016-04-13 19:48] montyvesselinov commented on #142
Pkg.checkout("Escher") resolved the problem. Thank you very much!

[2016-04-13 19:48] #142 closed

[2016-04-13 22:08] montyvesselinov opened #143 "UndefVarError: px not defined"
WARNING: both Compose and Escher export "px"; uses of it in module Main must be qualified
Error handling websocket connection:

Any suggestions how to address this?

[2016-04-13 22:29] rohitvarkey commented on #143
Just qualifying the use of `px` with `Escher.px` or `Compose.px` as according to your requirement will work.

[2016-04-13 22:31] montyvesselinov commented on #143
Old Compose! Updating compose fixed the problem.

[2016-04-13 22:31] #143 closed

[2016-04-14 03:39] shashi commented on #58
This has been fixed.

[code]
(note: has API chanes), works fine with the Initial Value.

[2016-04-14 03:39] #58 closed

[2016-04-14 04:13] shashi commented on #142
tagged a new release.

[2016-04-14 04:54] ahwillia opened #145 "Slider example"
Does the tutorial/documentation for `slider` need to be updated? I am getting the following error while following the examples...

[code]

Produces:

[code]

I'm checked out on the latest master for both Reactive and Escher.

[2016-04-14 06:24] shashi commented on #145
This is a recent API change. Just use `subscribe(iterations, slider(0:7))`. There was a deprecation and I think it was removed too soon.

[2016-04-14 15:44] montyvesselinov opened #146 "http://escher-jl.org/layout-api.html"
http://escher-jl.org/layout-api.html does not work on my iphone. tried with safari and chrome. produces blank page. Since we want to use escher to make web sites accessible from a phone i am curious is this a general problem.

also is there a way to have a "Loading ..." gif image while Julia is doing computations instead of blank screen before Escher populates the window with Julia outputs ...

[2016-04-14 16:41] tlnagy commented on #139
It's even after precompilation takes place because that prevents the page from loading. But it could be something with my Firefox installation that is borked because of this: https://github.com/johnmyleswhite/Vega.jl/issues/123. I'll try and troubleshoot and see.

[2016-04-14 18:50] montyvesselinov commented on #146
Found test/widget-sampler.jl and the spinner ... but I am still concerned about the iPhone problem.

[2016-04-15 13:44] #6 closed

[2016-04-15 13:50] randyzwitch commented on #146
This really isn't an Escher.jl problem per se, as the escher-jl.org site is statically generated at the moment. So it's really an issue with the build process that converts the Julia code into static HTML, not the Julia code that runs the webserver as "Escher" proper.

[2016-04-18 10:34] alinchis commented on #26
I would like to help with documentation, but I am not a pro. Where should I start?

[2016-04-18 11:41] shashi commented on #26
@alinchis thanks! I think a good place to start is to checkout the `doc-spree` branch, and start mimicking the other stuff on it. See https://github.com/shashi/Escher.jl/pull/67, also see the dev docs https://github.com/shashi/Escher.jl/blob/master/DEVDOCS.md if you wish to understand the code base better.

[2016-04-19 11:58] mfalt opened #147 "Slider while dragging"
I'm trying to make some additions but am struggling to understand the code, and I received no help on gitter.im (and the webpage http://escher-jl.org/behavior-api.html is failing under firefox).
I want to add an option to make the slider update while the user is dragging. It is possible to do
[code]
in `src/library/widgets.jl`, but then it doesn't trigger on a normal "change". I am not able to und

[2016-04-19 16:56] shashi commented on #147
replied on gitter. I think we need some enhancement to hasstate to support this. it is possible to use `collector` to get this now I think.

[2016-04-26 20:59] brandonkmiller commented on #137
@shashi @randyzwitch any idea what is causing mc.jl to not work correctly?  I have an app that uses a similar extraction that exhibits the same behaviour.  Sometimes the button fires and sometimes not.  I noticed that it started acting this way around the time Reactive.jl v0.3 was tagged which deprecated Input() and lift() - not sure if there's any relation.  I've tar'd up the last METADATA.jl tha

[2016-04-26 21:26] brandonkmiller commented on #137
For what it's worth:
the issue seems to be around line 54:
[code]

Although again - it's a Heisenbug in that if you refresh repeatedly the simulation runs on occasion - which leads me to believe it's something with compilation

[2016-04-27 06:09] shashi commented on #137
Reactive 0.3+ uses channels, so the updates are asynchronous - so if you do a `push!` and immediately start doing some computation, Reactive does not get any time to continue with its computation. I think we need to address this in Reactive somehow.

[2016-04-28 14:40] StreetLevel opened #148 "multiple subscriptions / nested maps"
Hi Sashi,
I have some problems creating some sliders, whose values and ranges depend on each other.
I would be very nice if you could help me out.
Here is a minimal example:
[code]

The problem is: After i once have changed the first slider, the second slider isn't subscribed to the second signal anymore. Is there a way to make this example work?

Best, Max

[2016-04-28 20:19] neilpanchal opened #149 "How to launch Escher executable on Windows?"
I added the directory - C://Users/Username/.julia/v0.4/Escher/bin/escher to the PATH environment variable. When I use windows command line and try to run escher, it gives me an error "escher is not a recognized as an internal or external command, operable program or batch file".

I think the documentation is only for linux/macosx and not applicable to windows. Please provide advice and I will upda

[2016-04-29 06:09] StreetLevel commented on #149
I think the directory that should be added to the path is  "C://Users/Username/.julia/v0.4/Escher/bin/". But anyway this script won't work with windows. What you could do is write your own batch or call escher_serve() from julia, manually.
To write your own batch you just have to create a julia file e.g.:
start_escher_server.jl:
[code]
and then just write a batch which calls `julia start_escher_se

[2016-04-29 21:28] shashi commented on #148
Where are you using `s2` after creation? Since it is in another `map` expression, it will go out of scope and be replaced with another `s2` once `s1` updates.... You could instead move `s2` out and map over both `s1` and `s2`.

[code]

[2016-04-30 09:33] Teo-ShaoWei commented on #124
Hi sorry for the very late reply @randyzwitch. Just tested it, and the bug is still there... Please give me a while more to create a simple example... Have you tried to press spacebar on a focused disabled button? It need to be enabled in the first place I think, so a good method is to make the button disabled on click... Let me make time to write this soon >_<

[2016-05-02 17:39] wlad commented on #146
Website does not work on desktop either. Page comes up, loads and changes fonts and two seconds later goes blank.

[2016-05-03 08:40] StreetLevel commented on #148
Ok, thank you. I was thinking way to complicated.
I'm closing this one.

[2016-05-03 08:40] #148 closed

[2016-05-03 14:31] shashi commented on #146
Works fine for me...

@wlad It might be that the font didn't load properly, did you try reloading?

[2016-05-04 00:06] wlad commented on #146
Hi, from web inspector:

[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (web-animations-next-lite.min.js.map, line 0)

(I can see the text if I get rid of styles, except for the code samples)

[2016-05-09 22:11] neilpanchal opened #151 "Units clashing with Gadfly"
I am trying to plot the following in Escher under the main(window) block.

[code]

It works ok but when I defined `bar_spacing=8px` or `bar_spacing=10mm` or any measure in general, I get the following error:

[code]

[2016-05-09 22:15] neilpanchal commented on #151
After searching on the internet, i found a solution as follows.

[code]

[2016-05-09 22:15] #151 closed

[2016-05-10 16:12] rohitvarkey commented on #149
@neilpanchal Please re-open if this is still a problem.

[2016-05-10 16:12] #149 closed

[2016-05-10 16:19] rohitvarkey commented on #151
Dup of https://github.com/shashi/Escher.jl/issues/41

[2016-05-16 03:52] jingpengwu opened #154 "using the dict in form.jl"
Using form.jl in `example`, I can print the string(dict), but can not use the dict with key!

I used dict[:name], and get some error:
[code]

[2016-05-16 04:23] rohitvarkey commented on #154
@jingpengwu The problem is when the `Dict` is initialized there is no key `name`. This key is added only when the form is submitted, so before that you get an error. You have 2 options here.

1. Apply a default value for `name` with `inp = Signal(Dict(:name=>""))`.
2. Use `get(dict, name, "")` so as to prevent this error.

[2016-05-16 05:08] jingpengwu commented on #154
@rohitvarkey Thanks a lot! The second solution sounds better, and it works pretty well.

[2016-05-16 05:08] #154 closed

[2016-05-17 20:09] jingpengwu opened #156 "multiple form in one layout, only one works"
I have two forms in two tabs. Each has a button to trigger it, but only the one in the last tab can be triggered. When I click the other button, it is not triggering.

whenever I comment one of them, the other works, so I guess it may be a bug of Escher?

here is an example code:

[code]

[2016-05-18 04:11] shashi commented on #156
Have you tried using different samplers?

In your code there's only one form... can you give a better example?

[2016-05-18 14:42] jingpengwu commented on #156
Hi Shashi,

I used different samplers. the code example is just one of them, the other one is similar.

[code]

[2016-05-19 20:42] jingpengwu commented on #156
I created a test program, it works. When I replace one of them using my function, both tab works. but whenever I used my two functions to replace them, one of them do not response!
[code]

[2016-05-21 18:39] jingpengwu commented on #156
I find the problem. when I changed the symbol key of the `watch!` ed tile.
` watch!(pcs, :anotherfname, textinput("/tmp/net_current.h5", label="network file")),`
It will not work.

[2016-05-25 22:07] jingpengwu commented on #128
Just find that there is a `image` tile, and it works pretty well. I tested both url and Images.imread.
http://escher-jl.org/content-api.html

[2016-05-26 12:22] davin777 opened #159 "Output in web too plain"
http://stackoverflow.com/questions/37460509/output-in-julia-escher-jl-in-web-very-plain

**Help me i just want the output from this**
![screenshot from 2016-05-26 18-54-42](https://cloud.githubusercontent.com/assets/19590470/15574255/8677ccb8-2376-11e6-8447-5a25990bbb20.png)
![screenshot from 2016-05-26 18-54-49](https://cloud.githubusercontent.com/assets/19590470/15574254/86779edc-2376-11e6-9eff-

[2016-05-27 05:10] shashi commented on #159
Have you tried putting the output in a `code` container? e.g. `code(R"str(sms_raw)")`. also try `Elem(:pre, R"str(sms_raw)")` and see which one works better for you.

[2016-05-27 06:18] davin777 commented on #159
still cant.... `code`  still plain and `elem` with error
[code]

[2016-05-27 06:21] shashi commented on #159
Well you need to figure out a way to get the string representation of the RCall object. You can try something like `string(R"str(sms_raw)")` and see if it works. What does `print(R"str(sms_raw)")` look like in Julia REPL?

[2016-05-27 06:24] davin777 commented on #159
its `false`...., and string just got more weirder... but thank you for good response...

[2016-05-27 06:26] shashi commented on #159
there must be a function you can call in R to get back string that is formatted like that. You need it to do this. Or else you can walk the object and create your own table using Escher boxes.

[2016-05-27 06:29] davin777 commented on #159
![string](https://cloud.githubusercontent.com/assets/19590470/15599644/d42f558c-240e-11e6-9f59-fddc491c4620.png)
above is in REPL. How to Escher boxes ? any tutorial lead to this ? thank you...

[2016-05-27 06:41] shashi commented on #159
If you can construct a dataframe for example, you can display the dataframe in Escher using the `table` function. Otherwise, you could also create your own table just by using hboxes and vboxes...

[2016-05-27 07:15] davin777 commented on #159
So, R could Export the data to image... how to show image in Escher.jl ?
`image("/root/.julia/v0.4/Escher/examples/myplot.png")`
code above doesnt show anything...

[2016-05-27 12:30] andre-rifaut commented on #146
When accessing http://escher-jl.org and using a desktop and Firefox, I have **exactly** the same as @wlad : "commented 25 days ago : Website does not work on desktop either. Page comes up, loads and changes fonts and two seconds later goes blank."
I can see two "Beta" symbols or something similar on the title within the page displaying for a wink.
**I cannot read anything from the escher-jl websit

[2016-06-02 05:56] ChrisRackauckas opened #160 "ArgumentError Issues"
Hey, I just tried Escher for the first time and ran into this issue. Do you have any idea what this could be? I checked out everything that seemed imported (see the Gitter chat) and still nothing. I'm on CentOS 7. Note that I get this error from the CLI and Julia whenever I try to go to the site.

[code]

[2016-07-12 11:12] sirinath opened #163 "juliaplots"
Can we have a way to use https://juliaplots.github.io/ as components?

[2016-07-12 11:16] sirinath opened #164 "Meta: Fully functional and scalable web framework"
I wish this would evolve into a fully functional and scalable web framework for Julia which can handle large concurrent access.

[2016-07-20 22:07] PallHaraldsson opened #165 "http://escher-jl.org/ blanks in few seconds.."
This may have been fixed in the last few days (happened within a month) or not and I just didn't wait long enough.

I do not remember this from the early days, but has been like this for some months now.

I'm not sure if it reflects on Escher.jl itself (the webpage built with it?) or just falsely(?) implies it's broken..

[2016-07-20 22:16] PallHaraldsson commented on #165
At least the problem is in http://escher-jl.org/layout2-api.html and other sub-pages of the README.

I hadn't looked at those pages before, and it's pretty obvious, happens under a second. [At the main page, it happend before, if not now, in I guess longer time, less then 5.]

Testing now in Firefox (have before in Chrome, and others have confirmed for me before for their machines).

[2016-07-21 21:42] PallHaraldsson commented on #146
#165 is the same it seems..

[2016-07-25 07:03] asbisen opened #166 "Embedding PlotJS.jl Plot"
Thanks a lot Shashi for the great work on Escher. I am trying to embed plots from PlotlyJS.jl inside Escher without any success. Is there a way to embed self contained `html` inside a tile?

[2016-07-26 01:53] kkruups opened #167 "No server stop and/or kill command"
Problem:  Cannot stop/kill serve from commandline
                 No Help Usage Info printed out when using API or CLI for command.

Expected: Able to stop server and/kill server instance via CLI or API

How do I kill the server without having to revert to using OS system Kill Process command?

Environment Info
Julia 0.4.6 -- Using Repl
Win 7 Platform

[2016-07-26 14:25] shashi commented on #166
Can you post a simple piece of code you're trying?

[2016-07-27 00:23] kkruups opened #170 "Error indicated when using Escher.fonttype method"
**Problem:** sanserif error indicated when using Escher.fonttype method

**Expected:** expected font type to change to sanserif font without error

**Error Message**

Error handling websocket connection:
UndefVarError: sanserif not defined
 in main at C:\sandbox\julia_sandbox\escherbox\demo.jl:7

**How to reproduce (code snippet)**
       Use sanserif as argument for fonttype method
       Behavio

[2016-07-27 04:16] kkruups opened #171 "Latex text is not visible ( rendering correctly ) in browser"
**Problem:**  Latex text does not appear visible in browser, although a Latex element is created (verified via chrome dev tools)

**Expected:** Latex to be visible in browser

**Additional Info:**
This issues appears to be related to error parsing the latex text  passed to method in Katex.js

_**Chrome Dev Tools Console reports the following error**_:

[code]

(view screen shot of Chrome Dev Tools

[2016-08-02 11:10] izaid opened #172 "Dropdown menu without dropdown?"
This is a great library, thanks for writing it!

I have a really simple question. I'd basically like a selection widget -- a bunch of vertical items with a scrollbar if there are too many. This is exactly what I get with the dropdown menu, except I don't want to be dropdown -- I want it always there.

Is this possible? If so, how?

[2016-08-10 10:31] shashi commented on #172
You can make in Escher:

[code]

Arguments are `selected` the item currently selected, `items` a list of items (strings) to show, and finally `current_item` is a signal that gets updated when the user clicks on an item.

You can make this fancy: make it possible to select multiple items, use checkboxes against each item etc...

[2016-08-19 17:59] randyzwitch commented on #141
This affects Vega also, as I can't precompile (since Escher won't precompile)

[2016-08-24 13:26] nandu116 opened #174 "Unable to start Escher package"
Hi, I am using latest version of Ubuntu 16.04.
I have installed Julia v0.4.5 and added the package Escher.jl from REPL.
After this I have a run a test code published on escher-jl.org and received an error.

**Code:**
_julia> using Escher --Success
julia> include(Pkg.dir("Escher", "src", "cli", "serve.jl"))  -- Failed with below error and did not proceed further.
julia> cd(Pkg.dir("Escher", "exampl

[2016-08-25 16:15] datnamer commented on #174
Do you have mux installed?

[2016-08-31 09:52] #174 closed

[2016-08-31 09:56] nandu116 opened #175 "How to use mongo commands in escher.jl?"
Hi, I have created below sample code to display mongo collection in browser but could not succeed. Can someone identify where am I doing wrong?
[code]
edit: formatting

[2016-08-31 10:18] shashi commented on #175
What should `app` be? in your case it will be `nothing` because a for loop always returns `nothing`. You might want to use `map` instead.

You don't need `import Escher: @api, render` or `using FactCheck`

[2016-08-31 10:49] nandu116 commented on #175
Thank you, shashi, it works.
Even though, we use "\n", I don't see a carriage return applied, all the docs get piled up. Any work around for this?

[2016-08-31 10:51] shashi commented on #175
`vbox(map(string, stack))` should do it. Or  `vbox(intersperse(vskip(1em), map(string, stack)))` to give some space between them.

[2016-08-31 11:03] nandu116 commented on #175
perfect vbox(map(string, stack)) works for me.
Thanks for the quick solution.

[2016-08-31 11:03] #175 closed

[2016-09-03 13:35] randyzwitch commented on #164
@sirinath, please outline the steps the you see are necessary to achieve your goals. Otherwise, this request is too generic to be actionable.

[2016-09-03 13:36] randyzwitch commented on #139
@tlnagy do you feel this is still an issue? If so, we can keep it open, but as it sits now, it's pretty tough to quantify.

[2016-09-03 13:37] randyzwitch commented on #159
Closing, as this is a tutorial as opposed to bug/feature request. If you're still having issues/questions, please post at julia-users, and if there are concrete feature requests, feel free to open a new issue here.

https://groups.google.com/forum/#!forum/julia-users

[2016-09-03 13:37] #159 closed

[2016-09-03 13:38] #140 closed

[2016-09-03 13:39] randyzwitch commented on #95
At this point, this is a year old. Is this still an issue @raghuch, or have you move on / is it resolved?

[2016-09-03 13:52] sirinath commented on #164
Specifics should be around
- Multiple concurrent clients connection
- Connection and state management for each client
- Client specific content generation

[2016-09-04 19:46] TotalVerb opened #176 "Segfault loading on latest nightly"
I was hoping that I would be able to diagnose the issue, but I don't think I am experienced enough with how lazy loading works. So instead, I'll share my findings in hopes someone more knowledgeable can figure out the problem. It is possible this segfault only occurs in my configuration; I can share more details if needed.

[code]

## Loading Escher throws LoadError

Escher fails to load on latest

[2016-09-13 10:50] izaid commented on #172
@shashi Thanks! This does create exactly the dropdown select I'm looking for, but I'm finding the clicking doesn't change the menu (tried in Firefox and Chrome). The initial selection stays select all the time. Any thoughts?

[2016-09-18 01:10] #139 closed

[2016-09-18 01:10] #95 closed

[2016-09-18 16:22] izaid commented on #147
I have made an attempt to fix this with https://github.com/shashi/Escher.jl/pull/178

[2016-09-18 16:41] shashi commented on #176
This seems to be gone on nightlies now, still breaks on Julia 0.5-x, although only on the first run. It looks like a Julia issue.

[2016-09-18 17:48] #147 closed

[2016-09-20 16:15] phillc73 commented on #7
I'd like to request a Range Slider. i.e. Two control handles for selecting a range of values .

Similar in jQuery UI: https://jqueryui.com/resources/demos/slider/range.html

[2016-09-21 09:26] izaid opened #181 "Gadfly plotting is not working"
Gadfly appears to be broken, at least for me on Julia 0.4. Just using the plotting.jl example in Escher fails for me with the following error:

[code]

[2016-09-21 19:10] phillc73 commented on #181
Similar, but slightly different, error for me with plotting.jl example file:

[code]
I have Julia 0.4.6 installed on Debian Testing.

[2016-09-22 06:43] shashi commented on #181
@phillc73 You need to install a package called `ComposeDiff` for Gadfly to work with Escher. I believe @izaid's issue happens even after installing it. @izaid are you on the latest release of Patchwork and ComposeDiff?

[2016-09-22 07:07] izaid commented on #181
@shashi I'm on the master of Patchwork.jl and the latest release of ComposeDiff.jl. Just double-checked everything, the error persists.

[2016-09-22 08:47] phillc73 commented on #7
Not sure if this is the best place to be adding these, but I will continue to do so for now.

I'd like to request the following widgets:

**Combobox:**  https://en.wikipedia.org/wiki/Combo_box

**Datatable:** A way to display tabulated data. To begin with, something similar to the way the DataFrames package displays data within a REPL (specifically thinking IJulia).

However, something more comple

[2016-09-22 19:01] phillc73 commented on #181
@shashi Thanks. I fixed that issue. However, now I simply have a blank page. I'll start a new issue to keep things cleaner.

[2016-09-22 19:03] phillc73 opened #183 "plotting.jl Example Loads a Blank Page, Failed to Push"
Page is simply blank.

System details are:
Chrome Version 53.0.2785.113 built on Debian stretch/sid, running on Debian stretch/sid (64-bit)

Output shows a ```Failed to push!``` error.

Output is:

[code]

[2016-09-22 19:25] shashi commented on #183
This seems to be the same as #181 now...

[2016-09-22 19:25] #183 closed

[2016-09-22 20:55] #181 closed

[2016-09-27 11:41] izaid opened #185 "watch! and trigger! are not working on master"
The functions `watch!` and `trigger!` are not working on the master branch. At least, the way they are described in the documentation and shown in the example `form.jl`.

If I try `form.jl` (tested on both Firefox and Chrome), the submit button always returns the initial state (i.e., rating of 0, no name).

[2016-09-28 11:10] #185 closed

[2016-09-28 22:14] lassehp commented on #165
I was looking at Julia as a possible new interesting language to learn, and came to escher-jl.org from the Julia page on Wikipedia. I was puzzled when the page first displayed unstyled, then a (beautiful btw) style was applied, only to have the window blanked out few seconds later.

Seeing that this issue has been open for quite some time, is not very encouraging to a prospective user.

[2016-09-29 07:27] #10 closed

[2016-09-29 07:27] #165 closed

[2016-09-29 12:18] izaid opened #189 "Master is broken"
So the latest master of Esher is broken. Examples fail with "No such file or directory", referring to Escher/assets/spinner.html

@shashi Did you forget to add a file?

[2016-09-29 12:55] #189 closed

[2016-09-30 09:34] izaid opened #190 "Should nested map(...) do work?"
Okay, so I have a question about how to modularize signals. Consider the following code:

[code]

This simply shows the status of a slider and a checkbox, and it works fine. Now what about the following:

[code]

I'd imagine this would do the same thing, but instead I get weird effects like duplication of all the widgets. Is this supposed to work? If not, how can I separate the `ch` and `sl` signa

[2016-09-30 14:22] McNees287 commented on #166
I would also like to be able to PlotlyJS.jl inside of Escher.

Here's some sample code for producing a histogram from the PlotyJS.jl docs:

[code]

[2016-10-01 11:23] izaid commented on #190
Okay, so my understanding from talking to @shashi is that this *should* work. I've been debugging it a bit, and the problem seems to lie with this line https://github.com/shashi/Escher.jl/blob/master/src/cli/serve.jl#L119 being used wrongly when there are nested signals -- I can see differences in the diffs there. No fix yet.

[2016-10-01 15:19] izaid commented on #190
Partial progress: That line is indeed the problem. It is diffing against Escher.empty at each recursion, whereas it should diff against the last rendering. I've fixed that up with a global dict. This prevents the duplication of widgets, but it leaves the signals not functioning. :/

[2016-10-08 05:09] shashi commented on #190
I have made the fix where it won't create a new slider. But for some reason, when things get redrawn the `watch-states` listeners do not get set up. So when the checkbox is checked for the first time, the slider stops working

[2016-10-08 09:49] izaid commented on #190
Any idea why that is?

[2016-10-19 20:08] McNees287 opened #193 "Use spinner() while waiting for function return"
This is a great package.

I'm trying to have the spinner() run while waiting for a function to finish running. The function is run via a Signal(). My problem is that I can get the spinner() to display either before or after my function call, but not during the function call. I want to return spinner(), while the function is running. Does anyone know how to do this?

[2016-10-20 13:56] randyzwitch commented on #176
I get a segfault on 0.5

[code]

[code]

[2016-10-20 20:59] #193 closed

[2016-10-26 00:52] jingpengwu commented on #141
I got this error in Julia 0.5.
[code]

[2016-10-27 16:21] JMurph2015 opened #194 "Feature: Can we get FCGI support?"
I get it.  All the 'cool' frameworks are running from FCGI like the plague (looking at you, Django), but the reality is that on shared hosting it's often the only option.  So yeah this would be a really nice thing to have since Escher has a lot of server backend happening (which has prevented me from using it outside of a localhost environment so far).
Thanks!
(Also, if you point me at where this

[2016-10-31 00:12] jingpengwu commented on #176
I got  `segfault` while trying the example of `plotting`. the `layout2` works.

[code]

[code]

[2016-11-01 15:10] pyrex41 opened #195 ""/hello.jl did not return a UI function""
I this output for a basic hello world file from the tutorial as well as for many of the examples; others do not provide any output at all.

output:"... /hello.jl did not return a UI function"

I am running julia 0.5; is this the issue, or is there some other issue?

[2016-11-01 19:22] shashi commented on #195
Um what's in hello.jl ?

A file you are trying to serve should end with a function definition such as:

[code]

And this function should return the UI object you want to render

[2016-11-02 02:17] pyrex41 commented on #195
hello.jl is just the hello world example 1 from escher-jl.org. Contains:

function main(window)
    plaintext("Hello, World!")
end

Similar results for most example files as well.

[2016-11-02 02:54] pyrex41 commented on #195
I have recreated this issue on ubuntu as as well (initially on OSX), for both my created "hello.jl" file and on the example "forms.jl"

[2016-11-02 20:54] Quixoticelixer commented on #195
I am having the same problem with most of the examples as well.
I haven't checked all of them yet though.

[2016-11-02 21:08] Quixoticelixer commented on #195
Here is a gist paste of the terminal output when I try to load the vectorgraphics example.
https://gist.github.com/Quixoticelixer/b38661a1cf067df809962ec0026aa50e

[2016-11-09 15:15] jamii opened #196 "blink.jl does not seem to exist"
[code]

I don't see that file in the repo.

[2016-11-09 15:29] jamii opened #197 "Endless requests"
With this code - https://gist.github.com/jamii/b0f42ef4997656ddf74809731e6457cf - loading in chrome it issues endless requests for the same two files.

![screenshot from 2016-11-09 16-26-13](https://cloud.githubusercontent.com/assets/340884/20143545/a10acd22-a699-11e6-91dc-067f40fbfa1a.png)

[2016-11-11 03:55] Stinners commented on #195
The version of Escher you get from Pkg.add hasn't been updated for v0.5, go to ~/.julia/v0.5/Escher and checkout the master branch to get a working version of the code.

[2016-11-17 19:45] hpoit opened #198 "Plans for GUI?"
Are there plans to take Escher up to GUI? Would be really useful!

[2016-11-28 10:38] slhuissier commented on #181
I get the same error as @izaid in julia-0.4.5. Has the issue been fixed?

[2016-11-29 05:47] JulesArcher opened #199 "Escher and examples updated for v0.5?"
Hi,

I have been trying to get some of the Escher examples working for the latest released version of Julia v0.5 without success. It's likely that the reasons are different for each that are not working. Before spending too many more hours with this, can anyone please confirm that Escher compatibility with v0.5??

Thanks!

DETAILS BELOW:

The following examples that DO run OK:

1) boids.jl
2)check

[2016-11-30 02:01] #156 closed

[2016-12-06 14:36] YayeIrene opened #200 "How to work with signal of arrays?"
Hello,
I am having trouble working with working with signal of arrays. I have written a code that takes inputs from the UI using the following commands:
.....
n = Signal(4)
...
hbox(subscribe(clambda, slider(0.0:360.0, value = 1.5))) _# there are a bunch of them_
...

I then use the command map to run a julia function:
.....
output = map(baffle_force, n, ab, ae)
......
the function return an array

[2016-12-07 14:41] YayeIrene commented on #200
Hello, I got an answer on stackoverflow:
map(x->x[2], S)

where S is the Signal object. This will give you the second element in a way that will update automatically when S changes.

[2016-12-13 16:45] Ward9250 opened #201 "An empty tile type to display nothing?"
Hi,

I have a basic interactive UI element, here a checkbox is initially false, and when ticked, allows two other text input boxes to be shown for user interaction, of course this goes into a main(window) function body:

[code]

However in my rendered web ui, when the box is unticked - hiding the two text inputs, the word 'nothing' is printed underneath. I wondered if to solve this there is some b

[2016-12-14 02:57] shashi commented on #201
Try `empty`

On 13-Dec-2016 10:15 PM, "Ben J. Ward" <notifications@github.com> wrote:

[2016-12-14 03:24] shashi commented on #163
Yes, this should be possible.

[2016-12-14 03:26] shashi commented on #198
Not right now. But we might see Escher being usable inside Blink.jl in the future.

[2016-12-14 03:26] #198 closed

[2016-12-14 04:11] shashi commented on #200
Glad you got the answer. Sorry for not responding earlier.

[2016-12-14 04:11] #200 closed

[2016-12-14 04:14] shashi commented on #199
There are a couple of issues blocking a release for Julia v0.5 - #176  #190

[2016-12-14 07:27] shashi commented on #197
@ChrisRackauckas are you also seeing this on windows?

[2016-12-14 07:32] ChrisRackauckas commented on #197
No, this is not what I was getting.

[2017-03-09 20:30] yakir12 commented on #199
These issues seem serious.

Would you say that for the near future the only option for using Escher is under Julia V0.4? Or is there a work around or alternative options?

[2017-06-10 16:16] abhi18av opened #204 "About the failing builds"
Hi @shashi

Are you planning to update the package so that the builds http://pkg.julialang.org/detail/Escher.html
actually pass?

I'd love to use this package  :)

[2017-06-14 15:34] bjarthur commented on #204
i've made a start at supporting 0.6.  https://github.com/shashi/Escher.jl/pull/203.  feel free to finish it off.

[2017-08-02 03:31] cihga39871 opened #205 "`icon(::String)` generates nothing; tabs and pages display like plain text."
## Code
[code]

## Result in Chrome
  File
  View
  Table
  Stat
  History
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

## Environment
[code]

[2017-08-02 12:56] cihga39871 commented on #205
The result in chrome is just the plain text.

[2017-11-22 11:48] nodrygo commented on #204
Hello
Trying Escher on Julia 0.6.1 with bjarthur patch
I finish with this error

[2018-01-01 03:39] dented42 opened #206 "`escher --help` seems to bomb."
`escher --help` seems to crash and burn somewhat. It takes quite a long time to execute before eventually spitting out the following:

[code]

[2018-01-02 17:17] amellnik commented on #107
Closing - outdated.

[2018-01-02 17:17] #107 closed

[2018-03-09 09:27] NaelsonDouglas commented on #206
I'm getting the same error

[2018-03-09 10:04] NaelsonDouglas commented on #206
Looks like the project is dead. One year since the last commit

[2018-09-23 10:07] KZiemian opened #211 "Package compatibility caps"
Ref: https://discourse.julialang.org/t/package-compatibility-caps/15301

[2019-08-31 18:55] codesections opened #212 "Website tagline: "A web server for 2016""
The website http://escher-jl.org/ describes "what's inside" Escher by saying that Escher contains "A web server for 2016".  Nearing 2020, this no longer sounds quite as impressive as it might and, as a new user, raises significant doubt about the status of the project.  Is the http://escher-jl.org/ website still up-to-date?  If so, it may be worth updating the year.  If not, it might be worth remo

[2019-09-04 16:00] KristofferC opened #213 "Info about upcoming removal of packages in the General registry"
As described in https://discourse.julialang.org/t/ann-plans-for-removing-packages-that-do-not-yet-support-1-0-from-the-general-registry/ we are planning on removing packages that do not support 1.0 from the General registry. This package has been detected to not support 1.0 and is thus slated to be removed. The removal of packages from the registry will happen approximately a month after this issu

[2019-10-09 08:33] #213 closed, assigned to nobody

[2020-07-03 07:23] Vertu5 opened #215 "Wrong when I add pkg in julia 1.4"
You have to add a Project.toml.
For example https://github.com/BenLauwens/ThinkJulia.jl/blob/master/Project.toml